{% extends 'base.html' %}

{% load ulmg_tags %}

{% block prenav %}
        {% if protect_tab or roster_tab %}{% include "includes/roster_status.html" %}{% endif %}
{% endblock %}

{% block content %}
{% include "includes/my/team_topper.html" %}

<style>
    p.level-heading {
        font-size:20px;
    }
    p.level-title {
        font-size:32px;
        font-weight:bold;
    }
</style>
<nav class="level is-mobile">
    {% for level in level_distribution %}
    <div class="level-item has-text-centered">
        <div>
        <p class="level-heading heading">{% if level.level_order == 0 %}B-LEVEL{% elif level.level_order == 5 %}A-LEVEL{% else %}VETERAN{% endif %}</p>
        <p class="level-title title">{{ level.level_order__count }}</p>
        </div>
    </div>
    {% endfor %}
</nav>

<div id="team">
<div class="tabs is-centered is-boxed is-large">
    <ul>
        <li class="is-active"><a href="#">My Roster{% if num_owned %} ({{ num_owned }}){% endif %}</a></li>
        <li><a href="/my/wishlist/draft/">My Draft List</a></li>
        <li><a href="/my/wishlist/trade/">My Trade List</a></li>
    </ul>
</div>


<div class="columns">
    <div class="column">
        {% regroup hitters by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th></th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="alpha">Lvl</th>

                    {% include "includes/hitter_stat_headers.html" %}

                    {% include "includes/player_protect_headers.html" %}
                </tr>
            </thead>
            <tbody>
            {% for p in position.list %}
            <tr class="{% if p.level != "B" and not p.is_protected and not p.covid_protected %}unprotected{% endif %}
            {% if p.ls_is_mlb == False and p.ls_plate_appearances > 0 %} minors{% endif %}
            {% if p.ls_is_mlb == False and not p.covid_protected %} minors{% endif %}
            {% if p.ls_is_mlb == False and p.is_amateur == True %} amateur{% endif %}
            ">
            {% include "includes/player_name.html" %}
                    <td class="left">
                        {% if p.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.mlbam_id }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.age|default_if_none:"-999" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.level|default_if_none:"Z" }}<">{{ p.level|default_if_none:"" }}</td>

                    {% include "includes/hitter_stat_cells.html" %}

                    {% include "includes/player_protect_actions.html" %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>

<div class="columns">
    <div class="column">
        <h1 class="title is-3">P ({{ pitchers|length }})</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th></th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="alpha">Lvl</th>

                    {% include "includes/pitcher_stat_headers.html" %}
                    {% include "includes/player_protect_headers.html" %}
                </tr>
            </thead>
            <tbody>
            {% for p in pitchers %}
            <tr class="{% if p.level != "B" and not p.is_protected and not p.covid_protected %}unprotected{% endif %}
            {% if p.ls_is_mlb == False and p.ls_ip > 0 %} minors{% endif %}
            {% if p.ls_is_mlb == False and p.is_amateur == True %} amateur{% endif %}
            {% if p.ls_is_mlb == False and not p.covid_protected %} minors{% endif %}
            ">
            {% include "includes/player_name.html" %}
                    <td class="left">
                        {% if p.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.mlbam_id }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.age|default_if_none:"-999" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.level|default_if_none:"Z" }}<">{{ p.level|default_if_none:"" }}</td>

                    {% include "includes/pitcher_stat_cells.html" %}

                    {% include "includes/player_protect_actions.html" %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% for p in hitters %}
{% if p.notes %}
<div id="modal-report-{{ p.id }}" class="modal">
<div class="modal-background"></div>
<div class="modal-content">
    <div class="box">
        <h2 class="title is-4">{{ p.name }} ({{ p.position }})</h2>
        <p class="notes">{{ p.notes }}</p>
    </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endfor %}

{% for p in pitchers %}
{% if p.notes %}
<div id="modal-report-{{ p.id }}" class="modal">
<div class="modal-background"></div>
<div class="modal-content">
    <div class="box">
        <h2 class="title is-4">{{ p.name }} ({{ p.position }})</h2>
        <p class="notes">{{ p.notes }}</p>
    </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endfor %}

{% if protect_tab or roster_tab %}
<div class="modal" id="player-drop-modal">
    <div class="modal-background"></div>
    <div class="modal-content"></div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endblock %}
        
{% block extrascript %}
{% include "includes/my/reportsjs.html" %}
{% if protect_tab or roster_tab%}<script type="text/javascript">
$(function(){
    var player_click_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')
        var action = $el.attr('data-action')

        $.ajax({
            type: "POST",
            url: '/api/v1/player/' + playerid + '/' +  action + '/',
            success: function(response){
                window.location.reload();
            }
        });
    }

    var player_drop_handler = function(el) {
        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid');
        var playername = $el.attr('data-playername');
        $('#player-drop-modal div.modal-content').html('<div class="box"><div class="content"><p class="subtitle">Are you sure you want to <strong>permanently drop ' + playername + '?</strong></p><p><a class="button is-danger is-large player-action" data-action="drop" data-playerid=' + playerid + '>Drop ' + playername + '</a>&nbsp;&nbsp;&nbsp;<a class="cancel button is-info is-large">Cancel</a></p></div></div>');
        $('#player-drop-modal').addClass('is-active');
    }

    var modal_close_handler = function(el){
        el.preventDefault();
        $el = $(this);

        $('#player-drop-modal').removeClass('is-active');
        $('#player-drop-modal div.modal-content').html('');
    }

    $('body').on('click', 'a.player-action', player_click_handler);
    $('body').on('click', 'a.player-drop', player_drop_handler);
    $('body').on('click', '.modal-close, .modal-background, a.cancel', modal_close_handler);
});
</script>{% endif %}
{% endblock %}