{% extends 'base.html' %}

{% load ulmg_tags %}

{% block content %}
{% include "includes/my/team_topper.html" %}

<style>
    p.player.level-heading {
        font-size:20px;
    }
    p.player.level-title {
        font-size:32px;
        font-weight:bold;
    }
</style>

<nav class="level is-mobile">
    {% for level in level_distribution %}
    <div class="level-item has-text-centered">
        <div>
        <p class="level-heading heading">{% if level.level_order == 0 %}B-LEVEL{% elif level.level_order == 5 %}A-LEVEL{% else %}VETERAN{% endif %}</p>
        <p class="level-title title">{{ level.level_order__count }}</p>
        </div>
    </div>
    {% endfor %}
</nav>

<div id="team" class="section is-desktop">
    <div class="tabs is-centered is-boxed is-large">
        <ul>
            <li><a href="/my/team/">My Roster{% if num_owned %} ({{ num_owned }}){% endif %}</a></li>
            <li><a href="/teams/{{ team.abbreviation|lower }}/other/">Trades & picks</a></li>
            <li{% if list_type == "draft" %} class="is-active"{% endif %}><a href="/my/wishlist/draft/">My Draft List</a></li>
            <li{% if list_type == "trade" %} class="is-active"{% endif %}><a href="/my/wishlist/trade/">My Trade List</a></li>
        </ul>
    </div>

    
    {% if hitters or pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Trade targets</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Pos</th>
                        <th>MLB</th>
                        <th>Team</th>
                        <th>PA</th>
                        <th>AVG</th>
                        <th>OBP</th>
                        <th>SLG</th>
                        <th>K%</th>
                        <th>BB%</th>
                        <th>xA</th>
                        <th>xO</th>
                        <th>xS</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in hitters %}
                <tr class="{% if p.player.is_prospect %}{% if not p.player.ls_is_mlb %} minors{% endif %}{% endif %}{% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}">
                {% include "includes/my/player_name.html" %}
                        <td>{{ p.player.age|default_if_none:"-" }}</td>
                        <td>{% if p.player.defense %}{{ p.player.defense_display }}{% else %}{{ p.player.position }}{% endif %}</td>
                        <td>{{ p.player.mlb_team_abbr|default_if_none:"-" }}</td>
                        <td><a href="/teams/{{ p.player.team.abbrev|lower }}/">{{ p.player.team }}</a></td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_plate_appearances|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_avg|kill_leading_zero|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_obp|kill_leading_zero|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_slg|kill_leading_zero|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_k_pct|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_bb_pct|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        
                        {% if p.player.ls_is_mlb %}
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_xavg|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_xwoba|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_plate_appearances > 0 %}{{ p.player.ls_xslg|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        {% else %}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ pitchers|length }})</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>MLB</th>
                        <th>Team</th>
                        <th>IP</th>
                        <th>ERA</th>
                        <th>K/9</th>
                        <th>BB/9</th>
                        <th>FIP</th>
                        <th>xFIP</th>
                        <th>SIERA</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in pitchers %}
                <tr class="{% if p.player.is_prospect %}{% if not p.player.ls_is_mlb %} minors{% endif %}{% endif %}{% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}">
                {% include "includes/my/player_name.html" %}
                        <td>{{ p.player.age|default_if_none:"-" }}</td>
                        <td>{{ p.player.mlb_team_abbr|default_if_none:"-" }}</td>
                        <td><a href="/teams/{{ p.player.team.abbrev|lower }}/">{{ p.player.team }}</a></td>
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_ip }}{% endif %}</td>
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_era }}{% endif %}</td>
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_k_9 }}{% endif %}</td>
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_bb_9 }}{% endif %}</td>
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_fip|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_xfip|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        
                        {% if not p.player.ls_is_mlb or p.player.ls_ip == 0 %}
                        <td>-</td>
                        {% else %}
                        <td>{% if p.player.ls_ip > 0 %}{{ p.player.ls_siera|default_if_none:"-" }}{% else %}-{% endif %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if aa_hitters or aa_pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">AA draft</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ aa_hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable">
                {% include "includes/my/hitter_sortable_headers.html" %}
                <tbody id="aa-hitters" class="list-group">
                {% for p in aa_hitters %}
                    {% include "includes/my/hitter_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ aa_pitchers|length }})</h1>
            <table class="table is-fullwidth">
                {% include "includes/my/pitcher_sortable_headers.html" %}
                <tbody id="aa-pitchers" class="list-group">
                {% for p in aa_pitchers %}
                    {% include "includes/my/pitcher_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if op_hitters or op_pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Open draft</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ op_hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable">
                {% include "includes/my/hitter_sortable_headers.html" %}
                <tbody id="op-hitters" class="list-group">
                {% for p in op_hitters %}
                    {% include "includes/my/hitter_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ op_pitchers|length }})</h1>
            <table class="table is-fullwidth">
                {% include "includes/my/pitcher_sortable_headers.html" %}
                <tbody id="op-pitchers" class="list-group">
                {% for p in op_pitchers %}
                    {% include "includes/my/pitcher_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

</div>

{% include 'includes/player_modal.html' %}
{% endblock %}
        
{% block extrascript %}

{% include "includes/my/reportsjs.html" %}
{% include "includes/my/wishlistjs.html" %}
{% include "includes/my/sortablejs.html" %}

{% endblock %}