{% extends 'base.html' %}

{% load ulmg_tags %}

{% block content %}
{% include "includes/team_topper.html" %}


<nav class="level is-mobile">
    {% for level in level_distribution %}
    <div class="level-item has-text-centered">
        <div>
        <p class="level-heading heading">{% if level.level_order == 0 %}B-LEVEL{% elif level.level_order == 5 %}A-LEVEL{% else %}VETERAN{% endif %}</p>
        <p class="level-title title">{{ level.level_order__count }}</p>
        </div>
    </div>
    {% endfor %}
</nav>

<div id="team" class="section is-desktop">
    <div class="tabs is-centered is-boxed is-large">
        <ul>
            <li><a href="/my/team/">My Roster{% if num_owned %} ({{ num_owned }}){% endif %}</a></li>
            <li><a href="/teams/{{ team.abbreviation|lower }}/other/">Trades & picks</a></li>
            <li><a href="/my/offseason/draft/">Draft</a></li>
            <li><a href="/my/wishlist/draft/beta/">AA Draft <span class="tag is-rounded is-danger is-light">beta</span></a></li>
            <!-- <li class="is-active"><a href="/my/wishlist/trade/">My Trade List</a></li> -->
        </ul>
    </div>

    
    {% if hitters or pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Trade targets</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ULMG</th>
                        <th>Org</th>
                        <th>Pos</th>
                        <th data-sortable-type="alpha">Lev</th>
                        <th data-sortable-type="numeric">PA</th>
                        <th data-sortable-type="numeric">A/O/S</th>
                        <th data-sortable-type="numeric">wRC+</th>
                        <th>PA</th>
                        <th>A/O/S</th>
                        <th>wRC+</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in hitters %}
                <tr class="{% if p.player.is_prospect %}{% if not p.player.stats.current.is_mlb %} minors{% endif %}{% endif %}{% if p.player.stats.current.is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}">
                {% include "includes/my/player_name.html" %}
                <td><a href="/teams/{{ p.player.team.abbreviation|lower }}/">{{ p.player.team }}</a></td>
                <td>{{ p.player.mlb_org|default_if_none:"-" }}</td>
                
                <td class="cell-max-75">{% with best_stats=p.player.get_best_stat_season %}{% if best_stats and best_stats.defense_display %}{{ best_stats.defense_display }}{% else %}{{ p.player.position|default_if_none:"—" }}{% endif %}{% endwith %}</td>
                
                <td data-value="{% if p.player.stats.current.year == 2024 %}{{ p.player.stats.current.level|default_if_none:"-999" }}{% else %}-999{% endif %}">
                    {% if p.player.stats.current.plate_appearances > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.level }}{% else %}-{% endif %}
                </td>
                
                <td data-value="{% if p.player.stats.current.year == 2024 %}{{ p.player.stats.current.plate_appearances|default_if_none:"-999" }}{% else %}-999{% endif %}">
                    {% if p.player.stats.current.plate_appearances > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.plate_appearances|default_if_none:"-" }}{% else %}-{% endif %}
                </td>
                <td data-value="{% if p.player.stats.current.year == 2024 %}{{ p.player.stats.current.avg|default_if_none:"-999" }}{% else %}-999{% endif %}">
                    {% if p.player.stats.current.plate_appearances > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.avg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}/
                    {% if p.player.stats.current.plate_appearances > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.obp|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}/
                    {% if p.player.stats.current.plate_appearances > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.slg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
                </td>
                <td data-value="{% if p.player.stats.current.year == 2024 %}{{ p.player.stats.current.wrc_plus|default_if_none:"-999" }}{% else %}-999{% endif %}">
                    {% if p.player.stats.current.plate_appearances > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.wrc_plus|default_if_none:"-" }}{% else %}-{% endif %}
                </td>
                <!-- previous year -->
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.plate_appearances|default_if_none:"-999" }}">
                    {% if p.player.stats.2022_majors.plate_appearances > 0 %}{{ p.player.stats.2022_majors.plate_appearances|default_if_none:"-" }}{% else %}-{% endif %}
                </td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.avg|default_if_none:"-999" }}">
                    {% if p.player.stats.2022_majors.plate_appearances > 0 %}{{ p.player.stats.2022_majors.avg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}/
                    {% if p.player.stats.2022_majors.plate_appearances > 0 %}{{ p.player.stats.2022_majors.obp|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}/
                    {% if p.player.stats.2022_majors.plate_appearances > 0 %}{{ p.player.stats.2022_majors.slg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
                </td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.wrc_plus|default_if_none:"-999" }}">
                    {% if p.player.stats.2022_majors.plate_appearances > 0 %}{{ p.player.stats.2022_majors.wrc_plus|default_if_none:"-" }}{% else %}-{% endif %}
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ pitchers|length }})</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ULMG</th>
                        <th>Org</th>
                        <th>Lev</th>
                        <th>GS</th>
                        <th>IP</th>
                        <th>ERA</th>
                        <th>K/9</th>
                        <th>BB/9</th>
                        <th>xFIP</th>
                        <th>SIERA</th>
                        <th>GS</th>
                        <th>IP</th>
                        <th>ERA</th>
                        <th>K/9</th>
                        <th>BB/9</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in pitchers %}
                <tr class="{% if p.player.is_prospect %}{% if not p.player.stats.current.is_mlb %} minors{% endif %}{% endif %}{% if p.player.stats.current.is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}">
                {% include "includes/my/player_name.html" %}
                <td><a href="/teams/{{ p.player.team.abbreviation|lower }}/">{{ p.player.team }}</a></td>
                <td>{{ p.player.mlb_org|default_if_none:"-" }}</td>

                <td data-value="{% if p.player.stats.current.year == 2024 %}{{ p.player.stats.current.level|default_if_none:"-999" }}{% else %}-999{% endif %}">
                    {% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.level }}{% else %}-{% endif %}
                </td>
                                
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.gs|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.gs|default_if_none:"-" }}{% else %}-{% endif %}</td>
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.ip|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.ip|default_if_none:"-" }}{% else %}-{% endif %}</td>
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.era|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.era|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.k_9|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.k_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.bb_9|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.bb_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.xfip|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.xfip|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td data-value="{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 %}{{ p.player.stats.current.siera|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.player.stats.current.ip > 0 and p.player.stats.current.year == 2024 and p.player.stats.current.siera %}{{ p.player.stats.current.siera|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.gs|default_if_none:"-999" }}">{% if p.player.stats.2022_majors.ip > 0 %}{{ p.player.stats.2022_majors.gs|default_if_none:"-" }}{% else %}-{% endif %}</td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.ip|default_if_none:"-999" }}">{% if p.player.stats.2022_majors.ip > 0 %}{{ p.player.stats.2022_majors.ip|default_if_none:"-" }}{% else %}-{% endif %}</td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.era|default_if_none:"999" }}">{% if p.player.stats.2022_majors.ip > 0 %}{{ p.player.stats.2022_majors.era|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.k_9|default_if_none:"-999" }}">{% if p.player.stats.2022_majors.ip > 0 %}{{ p.player.stats.2022_majors.k_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                <td class="prev-year" data-value="{{ p.player.stats.2022_majors.bb_9|default_if_none:"999" }}">{% if p.player.stats.2022_majors.ip > 0 %}{{ p.player.stats.2022_majors.bb_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if aa_hitters or aa_pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">AA draft <small>with 2024 stats</small></h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ aa_hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable">
                {% include "includes/my/hitter_sortable_headers.html" %}
                <tbody id="aa-hitters" class="list-group">
                {% for p in aa_hitters %}
                    {% include "includes/my/hitter_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ aa_pitchers|length }})</h1>
            <table class="table is-fullwidth">
                {% include "includes/my/pitcher_sortable_headers.html" %}
                <tbody id="aa-pitchers" class="list-group">
                {% for p in aa_pitchers %}
                    {% include "includes/my/pitcher_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if op_hitters or op_pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Open draft <small>with 2024 stats</small></h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ op_hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable">
                {% include "includes/my/hitter_sortable_headers.html" %}
                <tbody id="op-hitters" class="list-group">
                {% for p in op_hitters %}
                    {% include "includes/my/hitter_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ op_pitchers|length }})</h1>
            <table class="table is-fullwidth">
                {% include "includes/my/pitcher_sortable_headers.html" %}
                <tbody id="op-pitchers" class="list-group">
                {% for p in op_pitchers %}
                    {% include "includes/my/pitcher_sortable_cells.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
        
{% block extrascript %}

{% include "includes/my/wishlistjs.html" %}
{% include "includes/my/sortablejs.html" %}
{% include "includes/my/reportsjs.html" %}

{% endblock %}