{% extends 'base.html' %}

{% load ulmg_tags %}

{% block prenav %}
        {% if protect_tab or roster_tab %}{% include "includes/my/roster_status.html" %}{% endif %}
{% endblock %}

{% block content %}
{% include "includes/my/team_topper.html" %}

<style>
    p.player.level-heading {
        font-size:20px;
    }
    p.player.level-title {
        font-size:32px;
        font-weight:bold;
    }
</style>
<nav class="level is-mobile">
    {% for level in level_distribution %}
    <div class="level-item has-text-centered">
        <div>
        <p class="level-heading heading">{% if level.level_order == 0 %}B-LEVEL{% elif level.level_order == 5 %}A-LEVEL{% else %}VETERAN{% endif %}</p>
        <p class="level-title title">{{ level.level_order__count }}</p>
        </div>
    </div>
    {% endfor %}
</nav>

<style>
    #live-throb {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: red;
        animation: glow 1s infinite alternate;
    }

    @keyframes glow {
    from {
        box-shadow: 0 0 2px -2px red;
    } to {
            box-shadow: 0 0 2px 2px red;
        }
    }
</style>

<div id="team">
    <div class="tabs is-centered is-boxed is-large">
        <ul>
            <li><a href="/my/team/">Roster{% if num_owned %} ({{ num_owned }}){% endif %}</a></li>
            <li{% if list_type == "draft" %} class="is-active"{% endif %}><a href="/my/wishlist/draft/">Draft tool</a></li>
            <li{% if list_type == "trade" %} class="is-active"{% endif %}><a href="/my/wishlist/trade/">Trade tool</a></li>
        </ul>
    </div>

    {% if hitters or pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Trade targets</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable" data-sortable>
                <thead>
                    <tr>
                        <th data-sortable-type="alpha">Name</th>
                        <th></th>
                        <th data-sortable-type="numeric">Age</th>
                        <!-- <th data-sortable-type="numeric">Tier</th>
                        <th data-sortable-type="numeric">Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for p in hitters %}
                <tr class="{% if p.player.level == "V" and not p.player.is_protected %}unprotected{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.ls_plate_appearances > 0 %} minors{% endif %}
                {% if p.player.ls_is_mlb == False %} minors{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}
                ">
                {% include "includes/my/player_name.html" %}

                        <td class="left">
                            {% if p.player.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.bref_url }}">BBR &Gt;</a>{% endif %}
                            {% if p.player.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.fg_url }}">FG &Gt;</a>{% endif %}
                            {% if p.player.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.player.mlbam_id }}">MLB &Gt;</a>{% endif %}
                        </td>
                        <td data-value="{{ p.player.age|default_if_none:"-999" }}">{{ p.player.age|default_if_none:"-" }}</td>
                        <!-- <td data-value="{{ p.tier }}">{{ p.tier }}</td>
                        <td data-value="{{ p.rank }}">{{ p.rank }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ pitchers|length }})</h1>
            <table class="table is-fullwidth" data-sortable>
                <thead>
                    <tr>
                        <th data-sortable-type="alpha">Name</th>
                        <th></th>
                        <th data-sortable-type="numeric">Age</th>
                        <!-- <th data-sortable-type="numeric">Tier</th>
                        <th data-sortable-type="numeric">Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for p in pitchers %}
                <tr class="{% if p.player.level == "V" and not p.player.is_protected %}unprotected{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.ls_ip > 0 %} minors{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}
                {% if p.player.ls_is_mlb == False %} minors{% endif %}
                ">
                {% include "includes/my/player_name.html" %}

                        <td class="left">
                            {% if p.player.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.bref_url }}">BBR &Gt;</a>{% endif %}
                            {% if p.player.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.fg_url }}">FG &Gt;</a>{% endif %}
                            {% if p.player.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.player.mlbam_id }}">MLB &Gt;</a>{% endif %}
                        </td>
                        <td data-value="{{ p.player.age|default_if_none:"-999" }}">{{ p.player.age|default_if_none:"-" }}</td>
                        <!-- <td data-value="{{ p.tier }}">{{ p.tier }}</td>
                        <td data-value="{{ p.rank }}">{{ p.rank }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if aa_hitters or aa_pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">AA draft</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ aa_hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable" data-sortable>
                <thead>
                    <tr>
                        <th data-sortable-type="alpha">Name</th>
                        <th></th>
                        <th data-sortable-type="numeric">Age</th>
                        <!-- <th data-sortable-type="numeric">Tier</th>
                        <th data-sortable-type="numeric">Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for p in aa_hitters %}
                <tr class="{% if p.player.level == "V" and not p.player.is_protected %}unprotected{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.ls_plate_appearances > 0 %} minors{% endif %}
                {% if p.player.ls_is_mlb == False %} minors{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}
                ">
                {% include "includes/my/player_name.html" %}

                        <td class="left">
                            {% if p.player.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.bref_url }}">BBR &Gt;</a>{% endif %}
                            {% if p.player.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.fg_url }}">FG &Gt;</a>{% endif %}
                            {% if p.player.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.player.mlbam_id }}">MLB &Gt;</a>{% endif %}
                        </td>
                        <td data-value="{{ p.player.age|default_if_none:"-999" }}">{{ p.player.age|default_if_none:"-" }}</td>
                        <!-- <td data-value="{{ p.tier }}">{{ p.tier }}</td>
                        <td data-value="{{ p.rank }}">{{ p.rank }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ aa_pitchers|length }})</h1>
            <table class="table is-fullwidth" data-sortable>
                <thead>
                    <tr>
                        <th data-sortable-type="alpha">Name</th>
                        <th></th>
                        <th data-sortable-type="numeric">Age</th>
                        <!-- <th data-sortable-type="numeric">Tier</th>
                        <th data-sortable-type="numeric">Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for p in aa_pitchers %}
                <tr class="{% if p.player.level == "V" and not p.player.is_protected %}unprotected{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.ls_ip > 0 %} minors{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}
                {% if p.player.ls_is_mlb == False %} minors{% endif %}
                ">
                {% include "includes/my/player_name.html" %}

                        <td class="left">
                            {% if p.player.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.bref_url }}">BBR &Gt;</a>{% endif %}
                            {% if p.player.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.fg_url }}">FG &Gt;</a>{% endif %}
                            {% if p.player.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.player.mlbam_id }}">MLB &Gt;</a>{% endif %}
                        </td>
                        <td data-value="{{ p.player.age|default_if_none:"-999" }}">{{ p.player.age|default_if_none:"-" }}</td>
                        <!-- <td data-value="{{ p.tier }}">{{ p.tier }}</td>
                        <td data-value="{{ p.rank }}">{{ p.rank }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if op_hitters or op_pitchers %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Open draft</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title is-3">Hitters ({{ op_hitters|length }})</h1>
            <table class="table is-fullwidth is-hoverable" data-sortable>
                <thead>
                    <tr>
                        <th data-sortable-type="alpha">Name</th>
                        <th></th>
                        <th data-sortable-type="numeric">Age</th>
                        <!-- <th data-sortable-type="numeric">Tier</th>
                        <th data-sortable-type="numeric">Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for p in op_hitters %}
                <tr class="{% if p.player.level == "V" and not p.player.is_protected %}unprotected{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.ls_plate_appearances > 0 %} minors{% endif %}
                {% if p.player.ls_is_mlb == False %} minors{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}
                ">
                {% include "includes/my/player_name.html" %}

                        <td class="left">
                            {% if p.player.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.bref_url }}">BBR &Gt;</a>{% endif %}
                            {% if p.player.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.fg_url }}">FG &Gt;</a>{% endif %}
                            {% if p.player.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.player.mlbam_id }}">MLB &Gt;</a>{% endif %}
                        </td>
                        <td data-value="{{ p.player.age|default_if_none:"-999" }}">{{ p.player.age|default_if_none:"-" }}</td>
                        <!-- <td data-value="{{ p.tier }}">{{ p.tier }}</td>
                        <td data-value="{{ p.rank }}">{{ p.rank }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1 class="title is-3">Pitchers ({{ op_pitchers|length }})</h1>
            <table class="table is-fullwidth" data-sortable>
                <thead>
                    <tr>
                        <th data-sortable-type="alpha">Name</th>
                        <th></th>
                        <th data-sortable-type="numeric">Age</th>
                        <!-- <th data-sortable-type="numeric">Tier</th>
                        <th data-sortable-type="numeric">Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for p in op_pitchers %}
                <tr class="{% if p.player.level == "V" and not p.player.is_protected %}unprotected{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.ls_ip > 0 %} minors{% endif %}
                {% if p.player.ls_is_mlb == False and p.player.is_amateur == True %} amateur{% endif %}
                {% if p.player.ls_is_mlb == False %} minors{% endif %}
                ">
                {% include "includes/my/player_name.html" %}

                        <td class="left">
                            {% if p.player.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.bref_url }}">BBR &Gt;</a>{% endif %}
                            {% if p.player.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.player.fg_url }}">FG &Gt;</a>{% endif %}
                            {% if p.player.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.player.mlbam_id }}">MLB &Gt;</a>{% endif %}
                        </td>
                        <td data-value="{{ p.player.age|default_if_none:"-999" }}">{{ p.player.age|default_if_none:"-" }}</td>
                        <!-- <td data-value="{{ p.tier }}">{{ p.tier }}</td>
                        <td data-value="{{ p.rank }}">{{ p.rank }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
        
{% block extrascript %}
{% if user.is_authenticated %}
<script type="text/javascript">
$(function(){

    var add_wishlist_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')

        $.ajax({
            type: "GET",
            url: '/api/v1/wishlist/' + playerid + '/?rank=0&tier=0',
            success: function(response){
                window.location.reload();
            }
        });
    }

    var remove_wishlist_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')

        $.ajax({
            type: "GET",
            url: '/api/v1/wishlist/' + playerid + '/?remove=true',
            success: function(response){
                window.location.reload();
            }
        });
    }

    $('body').on('click', 'span.action-remove-wishlist', remove_wishlist_handler);
    $('body').on('click', 'span.action-add-wishlist', add_wishlist_handler);
});
</script>
{% endif %}
{% endblock %}

