__pycache__
.vscode
*.pyc
*.pyo
credentials.json
htmlcov/*

data/rosters/*
!data/rosters/.gitkeep
data/*/fg_*.json
.DS_Store

*.env
*.env.*

app-id.txt
app.yaml
app.yml

static/
public/*
!public/.gitkeep
