{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h1 style="font-weight:strong;">The ULMG: Data</h1>
    {% regroup players by team as player_list %}

    {% for player in player_list %}
    <div class="col s4">
        <h3>{{ player.grouper.city }} ({{ player.list|length }})</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Position</th>
                <th>Level</th>
            </thead>
            <tbody>
                {% for p in player.list %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.level }}</td>
                </tr>
                {% endfor %}
                {% if player.list|length == 73 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
                {% if player.list|length == 74 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
                {% if player.list|length == 75 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
                {% if player.list|length == 76 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
                {% if player.list|length == 77 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}