<html>
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-minimal.min.css">
        <style type="text/css">
            span.outlinks a {
                font-size:12px;
            }
            span.green {
                color: green;
            }
            span.red {
                color: red;
            }
        </style>
    </head>
    <body>
        {% include "nav.html" %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <!-- <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js"></script>
    </body>
</html>