{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths">

        <h1 class="title is-3">Professional</h1>

        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th></th>
                    <th data-sortable-type="alpha">Pos</th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="numeric">Int</th>
                    <th data-sortable-type="numeric">Info</th>
                    <th data-sortable-type="numeric">BP</th>
                    <th data-sortable-type="numeric">BA</th>
                    <th data-sortable-type="numeric">FG</th>
                    <th data-sortable-type="numeric">FV</th>
                    <th data-sortable-type="numeric">MLB</th>
                    <th data-sortable-type="numeric">JS</th>
                    <th data-sortable-type="numeric">PL</th>
                    <th data-sortable-type="numeric">365</th>
                </tr>
            </thead>
            <tbody>
            {% for p in pro %}
                <tr{% if p.is_owned %} class="owned{% if p.team.abbreviation == "BOS" %} boston{% endif %}"{% endif %} id="player-{{ p.pk }}">
                    <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.last_name }} {{ p.first_name }}">
                        <a href="/players/{{ p.id }}/" target="_blank">{{ p.name }}</a></span>
                    </td>
                    <td class="left">
                        <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E; &Gt;</a>
                        {% if p.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.position }}">{{ p.position }}</td>
                    <td data-value="{{ p.age|default_if_none:"-999" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_interest|default_if_none:"0" }}">{{ p.b_interest }}</td>
                    <td data-value="{{ p.b_info|default_if_none:"999" }}">{{ p.b_info|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_bp|default_if_none:"999" }}">{{ p.b_bp|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_ba|default_if_none:"999" }}">{{ p.b_ba|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_fg|default_if_none:"999" }}">{{ p.b_fg|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_fv|default_if_none:"0" }}">{{ p.b_fv|default_if_none:"35.0" }}</td>
                    <td data-value="{{ p.b_mlb|default_if_none:"999" }}">{{ p.b_mlb|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_sckls|default_if_none:"999" }}">{{ p.b_sckls|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_pl|default_if_none:"999" }}">{{ p.b_pl|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_p365|default_if_none:"999" }}">{{ p.b_p365|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="column">

        <h1 class="title is-3">Amateur</h1>

        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th></th>
                    <th data-sortable-type="alpha">Pos</th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="numeric">Int</th>
                    <th data-sortable-type="numeric">Info</th>
                    <th data-sortable-type="numeric">BA</th>
                    <th data-sortable-type="numeric">FG</th>
                    <th data-sortable-type="numeric">FV</th>
                    <th data-sortable-type="numeric">PL</th>
                </tr>
            </thead>
            <tbody>
            {% for p in am %}
                <tr{% if p.is_owned %} class="owned{% if p.team.abbreviation == "BOS" %} boston{% endif %}"{% endif %} id="player-{{ p.pk }}">
                    <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.last_name }} {{ p.first_name }}">
                        <a href="/players/{{ p.id }}/" target="_blank">{{ p.name }}</a></span>
                    </td>
                    <td class="left">
                        <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E; &Gt;</a>
                   </td>
                    <td data-value="{{ p.position }}">{{ p.position }}</td>
                    <td data-value="{{ p.age|default_if_none:"-999" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_interest|default_if_none:"0" }}">{{ p.b_interest }}</td>
                    <td data-value="{{ p.b_info|default_if_none:"0" }}">{{ p.b_info|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_ba|default_if_none:"999" }}">{{ p.b_ba|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_fg|default_if_none:"999" }}">{{ p.b_fg|default_if_none:"-" }}</td>
                    <td data-value="{{ p.b_fv|default_if_none:"0" }}">{{ p.b_fv|default_if_none:"35.0" }}</td>
                    <td data-value="{{ p.b_pl|default_if_none:"999" }}">{{ p.b_pl|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
  </div>
  {% endblock %}

  {% block extrascript %}
  <script type="text/javascript">
    $(function(){

        const STATUS_URL="/api/v1/draft/live/players/important/";

        var update_status = function() {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", STATUS_URL, true)
            xhr.send()
            xhr.onload = function() {
                if (xhr.status === 200) {
                    data = JSON.parse(xhr.response)
                    data.forEach(obj => {
                        if (obj.is_owned) {
                            console.log(obj);
                            var playerid = "#player-" + obj.pk;
                            $(playerid).addClass('owned');
                            if (obj.team__abbreviation === "BOS") {
                                $(playerid).addClass('boston');
                            }
                        }      
                    });
                }
            }
        };

        setInterval(update_status, 5000);

    });
  </script>
  {% endblock %}