{% extends "base.html" %}

{% block content %}
<div class="section is-desktop columns">
    <div class="column">
        <h1 class="title is-1">{{ season }} Calendar</h1>

        <div class="columns">

            {% if future %}
            <div class="column is-two-thirds">
                <h3 class="title is-3 has-text-grey">Upcoming events</h3>
                {% for o in future %}
                    <div class="box">
                        <h1 class="title is-3">{% if o.chat_link %}<a href="{{ o.chat_link }}">{% endif %}{{ o.date|date:"D, M jS" }}{% if o.time %} at {{ o.time|date:"P" }} eastern{% endif %}{% if o.chat_link %}</a>{% endif %}</h1>

                        {% if o.title or o.description %}
                        <div class="box has-background-warning-light">
                            {% if o.title %}<h5 class="title is-4 is-size-4">{{ o.title }}</h5>{% endif %}
                            {% if o.description %}<subtitle class="is-size-5 is-5">{{ o.description }}</p>{% endif %}
                        </div>
                        {% endif %}

                            <h2 class="title is-6">Event: {{ o.event.title }}</h2>
                            <h5 class="subtitle is-7 is-size-7">{{ o.event.description }}</h5>

                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if past %}
            <div class="column is-one-third">
                <h3 class="title is-3 has-text-grey">Past events</h3>
                {% for o in past %}
                    <div class="box has-background-light">
                        <h1 class="title is-5 has-text-grey">{{ o.date|date:"D, M jS" }}</h1>

                        {% if o.title or o.description %}
                        <div class="box has-background-light">
                            {% if o.title %}<h5 class="title is-7 is-size-7 has-text-grey">{{ o.title }}</h5>{% endif %}
                            {% if o.description %}<subtitle class="is-size-7 is-7 has-text-grey">{{ o.description }}</p>{% endif %}
                        </div>
                        {% endif %}

                            <h2 class="title is-7 has-text-grey">{{ o.event.title }}</h2>
                            <h5 class="subtitle is-7 is-size-7 has-text-grey">{{ o.event.description }}</h5>

                    </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}