{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">

            <h1 class="title is-2">{{ team_1 }} receives</h1>

            <div class="columns">
                <div class="column">
                    <div class="content">
                            <ul>{% for player in players_to_team1 %}
                            <li>{{ player.name }}</li>
                            {% endfor %}</ul>
                    </div>
                </div>
            </div>
            
            <h1 class="title is-2">{{ team_2 }} receives</h1>

            <div class="columns">
                <div class="column">
                    <div class="content">
                            <ul>{% for player in players_to_team2 %}
                            <li>{{ player.name }}</li>
                            {% endfor %}</ul>
                    </div>
                </div>
            </div>

    </div>
</div>
{% endblock %}