{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">
            <h1 class="is-title is-size-1 has-text-weight-bold">{{ year }} {{ season }} {{ draft_type }} draft</h1>
            <br/>
            <br/>
            {% for pick in picks %}
            <div class="box" id="pick-{{ pick.id }}" style="width:640px;">
                <article class="media">
                    <div class="media-content">
                    <div class="content">
                        <p>
                        <span class="is-size-6">
                            {% if pick.original_team != pick.team %}(via <strong>{{ pick.original_team }}</strong>){% endif %}
                            <a href="#pick-{{ pick.id }}">
                                Round <strong>{{ pick.draft_round }}</strong>, pick <strong>{{ pick.pick_number }}</strong>
                            </a>
                        </span>
                        <h1 class="is-title is-size-2">
                            {{ pick.team }} 
                            <span class="is-size-4" ><a href="/admin/ulmg/draftpick/{{ pick.id }}/change/">&#x270E;</a></span>
                        </h1>
                        {% if pick.player or pick.player_name %}
                            <h1>
                                {% if pick.player %}{{ pick.player.position }}{% endif %} {{ pick.player_name }}
                                {% if not pick.player and pick.player_name %}
                                    <span class="is-size-6" ><a href="/admin/ulmg/draftpick/{{ pick.id }}/change/">link player</a></span>
                                {% else %}
                                    <a class="button is-danger undraft-action" data-pickid="{{ pick.id }}" data-playerid="{{ pick.player.id }}">x</a>
                                {% endif %}
                            </h1>
                        {% else %}
                        <div class="field has-addons">
                            <div class="control" style="width:80%;">
                                <input id="pick-input-{{ pick.id }}" class="input is-large autocomplete" type="text" placeholder="Type a player's name, e.g., Miles Mikolas">
                            </div>
                            <div class="control">
                                <a class="button is-info is-large draft-action" data-pickid="{{ pick.id }}" data-pick-input="pick-input-{{ pick.id }}">Draft</a>
                            </div>
                        </div>
                        {% endif %}
                    </p>
                    </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extrascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
<script type="text/javascript">
$(function(){

    Awesomplete.$$("input.autocomplete").forEach(function (input) {
        new Awesomplete(input, { 
            list: {{ players|safe }},
        });
    });

    var undraft_click_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')
        var pickid = $el.attr('data-pickid')

        $.ajax({
            type: "GET",
            url: '/api/v1/draft/' + pickid + '/',
            success: function(response){
                window.location.replace('#pick-' + pickid);
                window.location.reload();
            }
        });
    }
    var draft_click_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playername = $('#' + $el.attr('data-pick-input')).val();
        var pickid = $el.attr('data-pickid')

        $.ajax({
            type: "GET",
            url: '/api/v1/draft/' + pickid + '/?name=' + playername,
            success: function(response){
                window.location.replace('#pick-' + pickid);
                window.location.reload();
            }
        });
    }

    $('body').on('click', 'a.draft-action', draft_click_handler);
    $('body').on('click', 'a.undraft-action', undraft_click_handler);
});
</script>
{% endblock %}