{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile is-parent">
        <article class="tile is-child notification is-white">
            <p class="title">Search</p>
            <p class="subtitle">All players</p>
            <div class="content">
                <div class="field">
                    <div class="control">
                        <input style="width:80%" class="input is-large" type="text"> <a class="button is-large">Search</a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p class="subtitle level-3">5 random available hitters</p>
                        <table class="table is-dark">
                            <tr>
                                <th>name</th>
                                <th>pos</th>
                                <th>pa</th>
                                <th>avg/obp/slg</th>
                            </tr>
                            {% for h in hitters %}
                            <tr>
                                <td><a target="_blank" href="{{ h.fangraphs_url }}">{{ h }}</a></td>
                                <td>{{ h.position }}</td>
                                <td>{{ h.stats.pa }}</td>
                                <td>{{ h.stats.avg }}/{{ h.stats.obp }}/{{ h.stats.slg }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="column">
                            <p class="subtitle level-3">5 random available pitchers</p>
                            <table class="table is-dark">
                                <tr>
                                    <th>name</th>
                                    <th>ip</th>
                                    <th>gs</th>
                                    <th>era</th>
                                </tr>
                                {% for p in pitchers %}
                                <tr>
                                    <td><a target="_blank" href="{{ p.fangraphs_url }}">{{ p }}</a></td>
                                    <td>{{ p.stats.ip }}</td>
                                    <td>{{ p.stats.gs }}</td>
                                    <td>{{ p.stats.era }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>
            </div>
        </article>
        </div>
        <div class="tile">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-light">
                <p class="title">Browse</p>
                <p class="subtitle">Carded players</p>
            </article>
            <article class="tile is-child notification is-light">
            <p class="title">Browse</p>
            <p class="subtitle">Non-carded players</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-light">
            <p class="title">2018 Champion</p>
            <p class="subtitle">Hopefully not Long Island</p>
            <figure class="image is-4by3">
                <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcTilsuEVyO-UCIZDZzcw60w-d1sKS2B7fOKdbp4GN5J-syvzjfa">
            </figure>
            </article>
        </div>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-light">
        <div class="content">
            <p class="title">Prospects</p>
            <p class="subtitle">Top available</p>
            <div class="content">
                <ul>
                {% for p in prospects %}
                    <li><a href="{{ p.fangraphs_url }}">{{ p }}</a>, {{ p.position }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        </article>
    </div>
    </div>

{% endblock %}