{% extends "base.html" %}
{% load ulmg_tags %}

{% block content %}

<div class="columns"><div class="column">
    <h1 class="title is-2">Top systems</h1>

    <p>For each prospect rating, teams earns 102 points minus the player's average ranking across all rankers. For example, if a player averages a rank of 1.0, he is worth 101 points. If a player averages a rank of 101, he is worth 1 point. This includes top 100 prospects as well as top draft prospects.</p>

    <table class="table is-fullwidth">
        <tr>
            {% for team in team_scores %}
            <th><a href="/teams/{{ team.team }}/">{{ team.team }}</a></th>
            {% endfor %}
        </tr>
        <tr>
            {% for team in team_scores %}
            <td>{{ team.score }}</td>
            {% endfor %}
        </tr>
    </table>
</div></div>
<div class="columns">
    <div class="column">

    <h1 class="title is-2">{{ year }} top 100 rankings</h1>
    <table class="table is-fullwidth" data-sortable>
        <thead>
        <tr>
            <th data-sortable-type="alpha">player</th>
            <th data-sortable-type="alpha">team</th>
            <th data-sortable-type="numeric">avg</th>
            <th data-sortable-type="numeric">ba</th>
            <th data-sortable-type="numeric">bp</th>
            <th data-sortable-type="numeric">mlb</th>
            <th data-sortable-type="numeric">law</th>
        </tr>
        </thead>
        <tbody>
        {% for p in top_100 %}
        <tr>
            {% include "includes/my/player_name.html" %}
            <td data-value="{% if p.player.team %}{{ p.player.team.abbreviation }}{% else %}zzz{% endif %}">{% if p.player.team %} <a href="/teams/{{ p.player.team.abbreviation }}/">{{ p.player.team.abbreviation }}</a>{% endif %}</td>
            <td data-value="{{ p.avg|default_if_none:"999" }}">{{ p.avg }}</td>
            <td data-value="{{ p.ba|default_if_none:"999" }}">{{ p.ba|default_if_none:"-" }}</td>
            <td data-value="{{ p.bp|default_if_none:"999" }}">{{ p.bp|default_if_none:"-" }}</td>
            <td data-value="{{ p.mlb|default_if_none:"999" }}">{{ p.mlb|default_if_none:"-" }}</td>
            <td data-value="{{ p.law|default_if_none:"999" }}">{{ p.law|default_if_none:"-" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="column">

        <h1 class="title is-2">{{ year }} top draft rankings</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
            <tr>
                <th data-sortable-type="alpha">player</th>
                <th data-sortable-type="alpha">team</th>
                <th data-sortable-type="numeric">avg</th>
                <th data-sortable-type="numeric">ba</th>
                <th data-sortable-type="numeric">pl</th>
                <th data-sortable-type="numeric">mlb</th>
                <th data-sortable-type="numeric">365</th>
                <th data-sortable-type="numeric">fg</th>
                <th data-sortable-type="numeric">cbs</th>
            </tr>
            </thead>
            <tbody>
            {% for p in top_draft %}
            <tr>
                {% include "includes/my/player_name.html" %}
                <td data-value="{% if p.player.team %}{{ p.player.team.abbreviation }}{% else %}zzz{% endif %}">{% if p.player.team %} <a href="/teams/{{ p.player.team.abbreviation }}/">{{ p.player.team.abbreviation }}</a>{% endif %}</td>
                <td data-value="{{ p.avg|default_if_none:"999" }}">{{ p.avg }}</td>
                <td data-value="{{ p.ba|default_if_none:"999" }}">{{ p.ba|default_if_none:"-" }}</td>
                <td data-value="{{ p.plive|default_if_none:"999" }}">{{ p.plive|default_if_none:"-" }}</td>
                <td data-value="{{ p.mlb|default_if_none:"999" }}">{{ p.mlb|default_if_none:"-" }}</td>
                <td data-value="{{ p.p365|default_if_none:"999" }}">{{ p.p365|default_if_none:"-" }}</td>
                <td data-value="{{ p.fg|default_if_none:"999" }}">{{ p.fg|default_if_none:"-" }}</td>
                <td data-value="{{ p.cbs|default_if_none:"999" }}">{{ p.cbs|default_if_none:"-" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

</div>
{% endblock %}

{% block extrascript %}
{% include "includes/my/wishlistjs.html" %}
{% endblock %}