{% extends "base.html" %}
{% load ulmg_tags %}

{% block content %}

<div class="columns"><div class="column">
    <h1 class="title is-2">Top systems</h1>

    <p>Teams earn points for each prospect ranked in the top 300 professionally or top 100 draft prospects for the current year. Points are assigned such that the highest ranked prospects earn the maximum number of points and the lowest ranked prospects earn just 1 point.</p>

    <table class="table is-fullwidth">
        <tr>
            {% for team in team_scores %}
            <th><a href="/teams/{{ team.team }}/">{{ team.team }}</a></th>
            {% endfor %}
        </tr>
        <tr>
            {% for team in team_scores %}
            <td>{{ team.score }}</td>
            {% endfor %}
        </tr>
    </table>
</div></div>
<div class="columns">
    <div class="column">

    <h1 class="title is-2">{{ year }} top 100 rankings</h1>
    <table class="table is-fullwidth" data-sortable>
        <thead>
        <tr>
            <th data-sortable-type="alpha">player</th>
            <th data-sortable-type="alpha">team</th>
            <th data-sortable-type="alpha">org</th>
            <th data-sortable-type="numeric">avg</th>
            <th data-sortable-type="numeric">ba</th>
            <th data-sortable-type="numeric">bp</th>
            <th data-sortable-type="numeric">fg</th>
            <th data-sortable-type="numeric">espn</th>
            <th data-sortable-type="numeric">mlb</th>
            <th data-sortable-type="numeric">law</th>
            <th data-sortable-type="numeric">plive</th>
            <th data-sortable-type="numeric">ftrax</th>
        </tr>
        </thead>
        <tbody>
        {% for p in top_100 %}
        <tr>
            {% include "includes/my/player_name.html" %}
            <td data-value="{% if p.player.team %}{{ p.player.team.abbreviation }}{% else %}zzz{% endif %}">{% if p.player.team %} <a href="/teams/{{ p.player.team.abbreviation }}/">{{ p.player.team.abbreviation }}</a>{% endif %}</td>
            <td data-value="{{ p.avg|default_if_none:"999" }}">{{ p.player.mlb_team_abbr }}</td>
            <td data-value="{{ p.avg|default_if_none:"999" }}">{{ p.avg }}</td>
            <td data-value="{{ p.ba|default_if_none:"999" }}">{{ p.ba|default_if_none:"-" }}</td>
            <td data-value="{{ p.bp|default_if_none:"999" }}">{{ p.bp|default_if_none:"-" }}</td>
            <td data-value="{{ p.fg|default_if_none:"999" }}">{{ p.fg|default_if_none:"-" }}</td>
            <td data-value="{{ p.espn|default_if_none:"999" }}">{{ p.espn|default_if_none:"-" }}</td>
            <td data-value="{{ p.mlb|default_if_none:"999" }}">{{ p.mlb|default_if_none:"-" }}</td>
            <td data-value="{{ p.law|default_if_none:"999" }}">{{ p.law|default_if_none:"-" }}</td>
            <td data-value="{{ p.plive|default_if_none:"999" }}">{{ p.plive|default_if_none:"-" }}</td>
            <td data-value="{{ p.ftrax|default_if_none:"999" }}">{{ p.ftrax|default_if_none:"-" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="column">

        <h1 class="title is-2">{{ year }} top draft rankings</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
            <tr>
                <th data-sortable-type="alpha">player</th>
                <th data-sortable-type="alpha">team</th>
                <th data-sortable-type="numeric">avg</th>
                <th data-sortable-type="numeric">ba</th>
                <th data-sortable-type="numeric">pl</th>
                <th data-sortable-type="numeric">mlb</th>
                <th data-sortable-type="numeric">365</th>
                <th data-sortable-type="numeric">fg</th>
                <th data-sortable-type="numeric">cbs</th>
                <th data-sortable-type="numeric">espn</th>
                <th data-sortable-type="numeric">law</th>
            </tr>
            </thead>
            <tbody>
            {% for p in top_draft %}
            <tr>
                {% include "includes/my/player_name.html" %}
                <td data-value="{% if p.player.team %}{{ p.player.team.abbreviation }}{% else %}zzz{% endif %}">{% if p.player.team %} <a href="/teams/{{ p.player.team.abbreviation }}/">{{ p.player.team.abbreviation }}</a>{% endif %}</td>
                <td data-value="{{ p.avg|default_if_none:"999" }}">{{ p.avg }}</td>
                <td data-value="{{ p.ba|default_if_none:"999" }}">{{ p.ba|default_if_none:"-" }}</td>
                <td data-value="{{ p.plive|default_if_none:"999" }}">{{ p.plive|default_if_none:"-" }}</td>
                <td data-value="{{ p.mlb|default_if_none:"999" }}">{{ p.mlb|default_if_none:"-" }}</td>
                <td data-value="{{ p.p365|default_if_none:"999" }}">{{ p.p365|default_if_none:"-" }}</td>
                <td data-value="{{ p.fg|default_if_none:"999" }}">{{ p.fg|default_if_none:"-" }}</td>
                <td data-value="{{ p.cbs|default_if_none:"999" }}">{{ p.cbs|default_if_none:"-" }}</td>
                <td data-value="{{ p.espn|default_if_none:"999" }}">{{ p.espn|default_if_none:"-" }}</td>
                <td data-value="{{ p.law|default_if_none:"999" }}">{{ p.law|default_if_none:"-" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

</div>

{% if top_draft %}
{% for p in top_draft %}{% if p.player.notes %}
<div id="modal-report-{{ p.id }}" class="modal">
<div class="modal-background"></div>
<div class="modal-content">
    <div class="box">
        <h2 class="title is-4">{{ p.player.name }} ({{ p.player.position }})</h2>
        <p class="notes">{{ p.player.notes }}</p>
    </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if top_100 %}
{% for p in top_100 %}{% if p.player.notes %}
<div id="modal-report-{{ p.id }}" class="modal">
<div class="modal-background"></div>
<div class="modal-content">
    <div class="box">
        <h2 class="title is-4">{{ p.player.name }} ({{ p.player.position }})</h2>
        <p class="notes">{{ p.player.notes }}</p>
    </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}


{% endblock %}

{% block extrascript %}
{% include "includes/my/wishlistjs.html" %}
{% include "includes/my/reportsjs.html" %}
{% endblock %}