{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-4">
    <div>
        <div class="mb-4">
            <label class="block text-sm font-bold mb-2">Player list</label>
            <textarea id="players" name="players" class="w-full h-64 border border-gray-300 px-3 py-2 text-sm" placeholder="name,pos,mlbid,fgid,ulmgid,birthdate,school,year"></textarea>
        </div>
        <div>
            <button id="submit" class="bg-green-600 text-white px-4 py-2 text-sm underline cursor-pointer submit-players">submit</button>
        </div>
    </div>
    <div>
        <h2 class="text-lg font-bold mb-4 border-b border-gray-300 pb-1">Created players</h2>
        <ul id="added_players" class="text-sm"></ul>
    </div>
    <div>
        <h2 class="text-lg font-bold mb-4 border-b border-gray-300 pb-1">Found players</h2>
        <ul id="found_players" class="text-sm"></ul>
    </div>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
    $(function(){
        $found_players = $('#found_players');
        $created_players = $('#added_players');
        $button = $("#submit");

        var render_player_row = function(player) {
            var player_html = "<li class='mb-1'><a target='_blank' href='/admin/ulmg/player/" + player['ulmg_id'] + "/change/' class='underline'>" + player['position'] + " " + player['name'] + "</a></li>";

            if (player['created']){
                $created_players.append(player_html);
            } else {
                $found_players.append(player_html);
            }
            
        }

        var render_players = function(players) {
            $.each(players, function(idx, p){
                console.log(p);
                render_player_row(p);
            });
            $button.prop('disabled', false).text('submit');
        }

        var submit_player_handler = function(el) {

            el.preventDefault();
            $el = $(this);

            var player_text = $('#players').val();

            $found_players.html("");
            $created_players.html("");
            $button.prop('disabled', true).text('processing...');

            $.ajax({
                type: "POST",
                data: {"players": player_text},
                url: '/api/v1/player/bulk/',
                success: function(response){
                    render_players(response['players']);
                }
            });
        }

        $('body').on('click', 'button.submit-players', submit_player_handler);
    });
</script>

{% endblock %}