{% extends 'base.html' %}

{% block content %}
    <h1 class="title is-1">{{ team.city }}</h1>
    <div class="columns">
    <div class="column">
        <h2 class="subtitle">{{ unprotected|length }} eligible players (V or A), {{ num_rostered }} rostered</h2>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Position</th>
                <th>Usage</th>
                <th>Level</th>
                <th>Roster?</th>
            </thead>
            <tbody>
                {% for p in unprotected %}
                <tr>
                    <td>{{ p.name }} <br/>
                        <span class="outlinks">
                            <a href="{{ p.bbref_url }}">BaseballRef &Gt;</a>
                            <a href="{{ p.fangraphs_url }}">FanGraphs &Gt;</a>
                        </span>
                    </td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.usage|default_if_none:"-"|safe }}</td>
                    <td>{{ p.level }}</td>
                    <td>{% if p.is_rostered %}
                        <a class="button">Remove</a>
                        {% else %}
                        <a class="button">Add</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column">
        <h2 class="subtitle">{{ protected|length }} protected players (B)</h2>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Position</th>
                <th>Age</th>
                <th>MLB rank</th>
                <th>BA rank</th>
            </thead>
            <tbody>
                {% for p in protected %}
                <tr>
                    <td>{{ p.name }} <br/>
                        <span class="outlinks">
                            <a href="{{ p.bbref_url }}">BaseballRef &Gt;</a>
                            <a href="{{ p.fangraphs_url }}">FanGraphs &Gt;</a>
                        </span>
                    </td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.mlb_prospect_rank|default_if_none:"-" }}</td>
                    <td>{{ p.ba_prospect_rank|default_if_none:"-" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}