{% extends 'base.html' %}

{% block content %}
{% include 'includes/team_topper.html' %}

<div class="tabs is-centered is-boxed is-large">
    <ul>
        <li class="is-active"><a>Owned ({{ num_owned }})</a></li>
        <li><a href="/teams/{{ team.abbreviation|lower }}/protect/">Protect players</a></li>
        <li><a href="/teams/{{ team.abbreviation|lower }}/roster/">Roster players</a></li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <nav class="level">
            {% for p in by_level %}
            <div class="level-item has-text-centered">
              <div>
                <p class="title is-3 has-text-weight-light">{{ p.level }}-level</p>
                <p class="title">{{ p.level__count }}</p>
              </div>
            </div>
            {% endfor %}
        </nav>
    </div>
</div>

<div class="columns">
    <div class="column">
        {% regroup players by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="alpha">Pos</th>
                    <th data-sortable-type="alpha">Lvl</th>
                    <th data-sortable-type="alpha">Team</th>
                    <th data-sortable-type="numeric">Owned?</th>
                    <th data-sortable-type="numeric">Carded?</th>
                    <th data-sortable-type="numeric">Pro?</th>
                    <th data-sortable-type="numeric">Prospect?</th>
                    <th data-sortable-type="numeric">RP?</th>
                    <th data-sortable-type="numeric">PA</th>
                    <th data-sortable-type="numeric">IP</th>
                    <th data-sortable-type="numeric">ST</th>
                    <th data-sortable-type="numeric">BA</th>
                    <th data-sortable-type="numeric">MLB</th>
                    <th data-sortable-type="numeric">FG</th>
                </tr>
            </thead>
            <tbody>
            {% for p in position.list %}
                <tr>
                    <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.name }}">
                        {{ p.name }}</a> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;<br/>
                        {% if p.bbref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bbref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fangraphs_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fangraphs_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.age|default_if_none:"0" }}">{{ p.age|default_if_none:"0" }}</td>
                    <td data-value="{{ p.position }}">{{ p.position }}</td>
                    <td data-value="{{ p.level|default_if_none:"Z" }}<">{{ p.level|default_if_none:"" }}</td>
                    <td data-value="{{ p.team|default_if_none:"AAAAAAAAA" }}">{% if p.team %}<a href="/teams/{{ p.team.abbreviation }}/">{{ p.team }}</a>{% else %}-{% endif %}</td>
                    <td data-value="{% if p.is_owned %}1{% else %}0{% endif %}">{% if p.is_owned %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{% if p.is_carded %}1{% else %}0{% endif %}">{% if p.is_carded %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{% if p.is_amateur %}1{% else %}0{% endif %}">{% if p.is_amateur %}<span class="red">&cross;</span>{% else %}<span class="green">&checkmark;</span>{% endif %}</td>
                    <td data-value="{% if p.is_prospect %}1{% else %}0{% endif %}">{% if p.is_prospect %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    <td data-value="{{ p.ba_prospect_rank|default_if_none:"1000" }}">{{ p.ba_prospect_rank|default_if_none:"-" }}</td>
                    <td data-value="{{ p.mlb_prospect_rank|default_if_none:"1000" }}">{{ p.mlb_prospect_rank|default_if_none:"-" }}</td>
                    <td data-value="{{ p.fg_prospect_rank|default_if_none:"1000" }}">{{ p.fg_prospect_rank|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}