{% extends "base.html" %}

{% block content %}
{% include 'includes/team_topper.html' %}

<div class="tabs is-centered is-boxed is-large">
    <ul>
        <li><a href="/teams/{{ team.abbreviation|lower }}/">Owned ({{ num_owned }})</a></li>
        <li><a href="/teams/{{ team.abbreviation|lower }}/other/">Trades & picks</a></li>
        {% if protect_tab %}<li><a href="/teams/{{ team.abbreviation|lower }}/protect/">Protect players</a></li>{% endif %}
        {% if roster_tab %}<li class="is-active"><a>Roster players</a></li>{% endif %}
        <li><a style="color: red; font-weight: bold;" href="/teams/{{ team.abbreviation|lower }}/live/">Live!</a></li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <nav class="level">
            {% for p in by_level %}
            <div class="level-item has-text-centered">
              <div>
                <p class="title is-3 has-text-weight-light">{{ p.level }}-level</p>
                <p class="title">{{ p.level__count }}</p>
              </div>
            </div>
            {% endfor %}
        </nav>
    </div>
</div>

<div class="columns">
    <div class="column">

        {% if protected_veterans %}
        <h1 class="title is-2">Protected veterans ({{ protected_veterans|length }})</h1>
        {% if protected_veterans %}<table class="table is-fullwidth is-hoverable">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Pos</th>
                <th>RP?</th>
                <th>PA</th>
                <th>IP</th>
                <th>ST</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in protected_veterans %}
                <tr id="player-{{ p.id }}">
                    <td style="text-align: left!important;"><span class="has-text-weight-semibold">
                        {{ p.name }}
                        </span> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                        {% if p.mlb_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.mlb_url }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age|default_if_none:"-" }}</td>
                    <td>{{ p.position }}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    <td>
                        {% if p.is_1h_c %}CAT1{% endif %}
                        {% if p.is_1h_p %}PIT1{% endif %}
                        {% if p.is_1h_pos %}POS1{% endif %}
                        {% if p.is_reserve %}ASR{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endif %}
        {% endif %}

        <h1 class="title is-2">MLB roster ({{ mlb_roster|length }})</h1>
        {% if mlb_roster %}{% regroup mlb_roster by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Pos</th>
                <th>Lvl</th>
                <th>RP?</th>
                <th>PA</th>
                <th>IP</th>
                <th>ST</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in position.list %}
                <tr id="player-{{ p.id }}">
                    <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.name }}">
                        {{ p.name }} <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age|default_if_none:"-" }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.level }}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    {% if not p.is_1h_c and not p.is_1h_pos and not p.is_1h_p %}
                        {% if not p.is_2h_draft %}
                            <td style="text-align: right!important;"><a class="button is-light player-action" data-playerid="{{ p.id }}" data-action="off_roster">>></a></td>
                        {% else %}
                            <td>DRAFTED</td>
                        {% endif %}
                    {% else %}
                        <td>PROTECTED</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endfor %}{% endif %}
        <h1 class="title is-2">AAA roster ({{ aaa_roster|length }})</h1>
        {% if aaa_roster %}{% regroup aaa_roster by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Pos</th>
                <th>Lvl</th>
                <th>RP?</th>
                <th>PA</th>
                <th>IP</th>
                <th>ST</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in position.list %}
                <tr id="player-{{ p.id }}">
                    <td style="text-align: left!important;"><span class="has-text-weight-semibold">
                        {{ p.name }}
                        </span> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                        {% if p.mlb_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.mlb_url }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age|default_if_none:"-" }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.level }}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    <td>
                        {% if not p.is_2h_draft %}
                        <a class="button is-light player-action" data-playerid="{{ p.id }}" data-action="off_roster">>></a>
                        {% else %}
                        DRAFTED
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endfor %}{% endif %}
    </div>
    <div class="column is-three-fifths">

        {% if unrostered %}
        <h1 class="title is-2">Unrostered players ({{ unrostered|length }})</h1>
        {% regroup unrostered by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Pos</th>
                <th>Lvl</th>
                <th>RP?</th>
                <th>PA</th>
                <th>IP</th>
                <th>ST</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in position.list %}
                <tr id="player-{{ p.id }}">
                    <td style="text-align: left!important;"><span class="has-text-weight-semibold">
                        {{ p.name }}
                        </span> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                        {% if p.mlb_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.mlb_url }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age|default_if_none:"-" }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.level }}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    <td style="text-align: right!important;">
                        {% if not p.is_2h_draft %}
                        {% if num_mlb < 30 %}<a class="button is-light player-action" data-playerid="{{ p.id }}" data-action="to_mlb">MLB</a>{% endif %}
                        <a class="button is-light player-action" data-playerid="{{ p.id }}" data-action="to_aaa">AAA</a>
                        {% else %}
                        DRAFTED
                        {% endif %}
                        <a class="button is-danger player-drop" data-playerid="{{ p.id }}" data-playername="{{ p.name }}">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endfor %}
        {% endif %}

        {% if uncarded_vets %}
        <h1 class="title is-2">Uncarded veteran players ({{ uncarded_vets|length }})</h1>
        {% regroup uncarded_vets by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Pos</th>
                <th>Lvl</th>
                <th>RP?</th>
                <th>PA</th>
                <th>IP</th>
                <th>ST</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in position.list %}
                <tr id="player-{{ p.id }}">
                    <td style="text-align: left!important;"><span class="has-text-weight-semibold">
                        {{ p.name }}
                        </span> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                        {% if p.mlb_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.mlb_url }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age|default_if_none:"-" }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.level }}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    <td style="text-align: right!important;">
                        <a class="button is-danger player-drop" data-playerid="{{ p.id }}" data-playername="{{ p.name }}">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endfor %}
        {% endif %}

        {% if cuttable_b %}
        <h1 class="title is-2">Cuttable B players ({{ cuttable_b|length }})</h1>
        {% regroup cuttable_b by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Pos</th>
                <th>Lvl</th>
                <th>RP?</th>
                <th>PA</th>
                <th>IP</th>
                <th>ST</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in position.list %}
                <tr id="player-{{ p.id }}">
                    <td style="text-align: left!important;"><span class="has-text-weight-semibold">
                        {{ p.name }}
                        </span> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                        {% if p.mlb_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.mlb_url }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age|default_if_none:"-" }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.level }}</td>
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    <td style="text-align: right!important;">
                        {% if not is_2h_draft %}
                        {% if num_mlb < 30 and p.is_carded == True %}<a class="button is-light player-action" data-playerid="{{ p.id }}" data-action="to_mlb">MLB</a>{% endif %}
                        {% if p.is_carded == True %}<a class="button is-light player-action" data-playerid="{{ p.id }}" data-action="to_aaa">AAA</a>{% endif %}
                        {% else %}
                        DRAFTED
                        {% endif %}
                        <a class="button is-danger player-drop" data-playerid="{{ p.id }}" data-playername="{{ p.name }}">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endfor %}
        {% endif %}
    </div>
</div>
<div class="modal" id="player-drop-modal">
<div class="modal-background"></div>
<div class="modal-content"></div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(function(){
    var player_click_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')
        var action = $el.attr('data-action')

        console.log(playerid, action);

        $.ajax({
            type: "POST",
            url: '/api/v1/player/' + playerid + '/' +  action + '/',
            success: function(response){
                window.location.reload();
            }
        });
    }

    var player_drop_handler = function(el) {
        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid');
        var playername = $el.attr('data-playername');
        $('#player-drop-modal div.modal-content').html('<div class="box"><div class="content"><p class="subtitle">Are you sure?</p><p><a class="button is-danger is-large player-action" data-action="drop" data-playerid=' + playerid + '>Drop ' + playername + '</a>&nbsp;&nbsp;&nbsp;<a class="cancel button is-info is-large">Cancel</a></p></div></div>');
        $('#player-drop-modal').addClass('is-active');
    }

    var modal_close_handler = function(el){
        el.preventDefault();
        $el = $(this);

        $('#player-drop-modal').addClass('is-active');
        $('#player-drop-modal div.modal-content').html('');
    }

    $('body').on('click', 'a.player-action', player_click_handler);
    $('body').on('click', 'a.player-drop', player_drop_handler);
    $('body').on('click', '.modal-close, .modal-background, a.cancel', modal_close_handler);
});
</script>
{% endblock %}