{% extends 'base.html' %}

{% block content %}
{% include 'includes/team_topper.html' %}

<div class="tabs is-centered is-boxed is-large">
    <ul>
        <li class="is-active"><a>Owned ({{ num_owned }})</a></li>
        <li><a href="/teams/{{ team.abbreviation|lower }}/protect/">Protect players</a></li>
        <li><a href="/teams/{{ team.abbreviation|lower }}/roster/">Roster players</a></li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <nav class="level">
            {% for p in by_level %}
            <div class="level-item has-text-centered">
              <div>
                <p class="title is-3 has-text-weight-light">{{ p.level }}-level</p>
                <p class="title">{{ p.level__count }}</p>
              </div>
            </div>
            {% endfor %}
        </nav>
    </div>
</div>

<div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
        {% regroup players by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth is-hoverable" data-sortable>
            <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Position</th>
                <th>Usage <a href="#usage">... what?</a></th>
                <th>Level</th>
            </thead>
            <tbody>
                {% for p in position.list %}
                <tr id="player-{{ p.id }}">
                    <td style="text-align: left!important;"><span class="has-text-weight-semibold">
                        {{ p.name }}
                        </span> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;</a><br/>
                        {% if p.bbref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bbref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fangraphs_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fangraphs_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                        {% if p.mlb_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.mlb_url }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.usage|default_if_none:""|safe }}</td>
                    <td>{{ p.level }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>{% endfor %}
        <h1 id="usage" class="is-5 title">A note on usage</h1>
        <p>
            <ul>
                <li>Usage has been calculated for pitchers and hitters.</li>
                <li>If a pitcher has 1.5 times more relief appearances than starts, innings are multiplied by 1.5 if more than 70. </li>
                <li>For hitters, seasons with more than 550 plate appearances show as "unlimited."</li>
            </ul>
        </p>
    </div>
    <div class="column"></div>
</div>
{% endblock %}