{% extends 'base.html' %}

{% block content %}
{% include 'includes/team_topper.html' %}

<div class="tabs is-centered is-boxed is-large">
    <ul>
        <li class="is-active"><a>Owned ({{ num_owned }})</a></li>
        <li><a href="/teams/{{ team.abbreviation|lower }}/other/">Trades & picks</a></li>
        {% if protect_tab %}<li><a href="/teams/{{ team.abbreviation|lower }}/protect/">Protect players</a></li>{% endif %}
        {% if roster_tab %}<li><a href="/teams/{{ team.abbreviation|lower }}/roster/">Roster players</a></li>{% endif %}
        <li><a style="color: red; font-weight: bold;" href="/teams/{{ team.abbreviation|lower }}/live/">Live!</a></li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <nav class="level">
            {% for p in by_level %}
            <div class="level-item has-text-centered">
              <div>
                <p class="title is-3 has-text-weight-light">{{ p.level }}-level</p>
                <p class="title">{{ p.level__count }}</p>
              </div>
            </div>
            {% endfor %}
        </nav>
    </div>
</div>

<div class="columns">
    <div class="column">
        {% regroup players by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th data-sortable-type="numeric">Age</th>
                    {% if position.grouper != "P" %}
                    <th data-sortable-type="alpha">Pos</th>
                    {% endif %}
                    <th>Def</th>
                    <th data-sortable-type="alpha">Lvl</th>
                    <th data-sortable-type="numeric">Card?</th>
                    {% if position.grouper == "P" %}
                    <th data-sortable-type="numeric">RP?</th>
                    {% endif %}
                    {% if position.grouper == "P" %}
                    <th data-sortable-type="numeric">IP</th>
                    <th data-sortable-type="numeric">ST</th>
                    {% else %}
                    <th data-sortable-type="numeric">PA</th>
                    {% endif %}
                    {% if value %}
                    <th data-sortable-type="numeric">RAAR</th>
                    <th data-sortable-type="numeric">RAAL</th>
                    <th data-sortable-type="numeric">RAAT</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for p in position.list %}
                <tr>
                    <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.name }}">
                        {{ p.name }}</a> <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E;<br/>
                        {% if p.bref_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light is-size-6" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.ba_url %}<a class="has-text-weight-light is-size-6"  target="_blank" href="{{ p.ba_url }}">BA &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.age|default_if_none:"0" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.position }}">{{ p.position }}</td>
                    {% if position.grouper != "P" %}
                    <td>{{ p.defense_display|default_if_none:"-" }}</td>
                    {% endif %}
                    <td data-value="{{ p.level|default_if_none:"Z" }}<">{{ p.level|default_if_none:"" }}</td>
                    <td data-value="{% if p.is_carded %}1{% else %}0{% endif %}">{% if p.is_carded %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    {% if position.grouper == "P" %}
                    <td data-value="{% if p.is_relief_eligible %}1{% else %}0{% endif %}">{% if p.is_relief_eligible %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    {% endif %}
                    {% if position.grouper == "P" %}
                    <td data-value="{{ p.relief_innings_pitched|default_if_none:"0" }}">{{ p.relief_innings_pitched|default_if_none:"-" }}</td>
                    <td data-value="{{ p.starts|default_if_none:"0" }}">{{ p.starts|default_if_none:"-" }}</td>
                    {% else %}
                    <td data-value="{{ p.plate_appearances|default_if_none:"0" }}">{{ p.plate_appearances|default_if_none:"-" }}</td>
                    {% endif %}
                    {% if value %}
                    <td data-value="{{ p.raar|default_if_none:"-99999" }}">{{ p.raar|default_if_none:"-" }}</td>
                    <td data-value="{{ p.raal|default_if_none:"-99999" }}">{{ p.raal|default_if_none:"-" }}</td>
                    <td data-value="{{ p.raat|default_if_none:"-99999" }}">{{ p.raat|default_if_none:"-" }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}