{% extends "base.html" %}

{% block content %}
{% include 'includes/team_topper.html' %}

<div class="tabs is-centered is-boxed is-large">
    <ul>
        <li><a href="/teams/{{ team.abbreviation|lower }}/">Owned ({{ num_owned }})</a></li>
        <li class="is-active"><a>Trades & picks</a></li>
        {% if protect_tab %}<li><a href="/teams/{{ team.abbreviation|lower }}/protect/">Protect players</a></li>{% endif %}
        {% if roster_tab %}<li><a href="/teams/{{ team.abbreviation|lower }}/roster/">Roster players</a></li>{% endif %}
    </ul>
</div>

<div class="columns">
    <div class="column">
        <h1 class="title is-2">2019 trades ({{ trades|length }})</h1>
        <div class="content">
            <ul>{% for t in trades %}
                <li>{{ t.trade.summary_html|safe }}</li>
            {% endfor %}</ul>
        </div>
    </div>
    <div class="column">
        <h1 class="title is-2">2019 picks ({{ picks|length }})</h1>
        <div class="content">
            {% regroup picks by draft_type as type_picks %}
            {% for pick in type_picks %}
            {% if pick.grouper == "aa"%}
            <h1 class="title is-4">{{ pick.grouper|upper }} draft</h1>
            {% else %}
            <h1 class="title is-4">{{ pick.grouper|title }} draft</h1>
            {% endif %}
            <table class="table is-fullwidth">
                <tr>
                    <th>Round</th>
                    <th>Pick</th>
                    <th>Overall</th>
                    <th>Via?</th>
                    <th>Player</th>
                </tr>
            {% for p in pick.list %}
                <tr>
                    <td>{{ p.draft_round }}</td>
                    <td>{{ p.pick_number }}</td>
                    <td>{{ p.overall_pick_number }}</td>
                    <td>{{ p.original_team|default_if_none:"-" }}</td>
                    <td>{% if p.player %}{{ p.player.position }} {{ p.player }}{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}