{% extends "base.html" %}

{% block content %}
<div class="section is-desktop">

<h1 class="title is-1">All trades</h1>

<div class="columns">
    <div class="column">
        {% regroup trades by season as year_trades %}
        {% for year in year_trades %}
        <h1 class="title is-2">{{ year.grouper }} trades ({{ year.list|length }})</h1>
        <div class="content">
            <table class="table">
                <tr>
                    <th>date</th>
                    <th>Receives</th>
                    <th>Receives</th>
                </tr>
                {% for t in year.list %}
                <tr>
                    <td>{{ t.date.month }}/{{ t.date.day }}</td>
                        <td class="left"><a href="/teams/{{ t.trade_cache.t2_abbr|lower }}/">{{ t.trade_cache.t2_abbr }}</a> recieves 
                        {% for p in t.trade_cache.t1_players %}
                            <a href="/players/{{ p.id }}/">{{p.pos }} {{ p.name }}</a>{% if not forloop.last %}, {% else %}{% if t.trade_cache.t1_picks %}, {% endif %}{% endif %}
                        {% endfor %}{% for p in t.trade_cache.t1_picks %}
                            {{ p }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </td>
                        <td class="left"><a href="/teams/{{ t.trade_cache.t1_abbr|lower }}/">{{ t.trade_cache.t1_abbr }}</a> recieves 
                        {% for p in t.trade_cache.t2_players %}
                            <a href="/players/{{ p.id }}/">{{p.pos }} {{ p.name }}</a>{% if not forloop.last %}, {% else %}{% if t.trade_cache.t2_picks %}, {% endif %}{% endif %}
                        {% endfor %}{% for p in t.trade_cache.t2_picks %}
                            {{ p }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}