{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="buttons">
            {% for t in teams %}
            <a class="button is-large team-select team-{{ t.abbreviation|lower }}" href="#" data-team="{{ t.abbreviation|lower }}">{{ t.abbreviation }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="columns">
    <div class="column" id="team-1" data-team="">
        <h1 class="title is-2">team 1</h1>
        <div class="columns">
            <div class="column"><div class="players-sent">No players selected</div><h1 class="title is-4">Roster</h1><div class="roster"></div></div>
            <div class="column"><div class="picks-sent">No picks selected</div><h1 class="title is-4">Picks</h1><div class="picks"></div></div>
        </div>
    </div>
    <div class="column" id="team-2" data-team="">
        <h1 class="title is-2">team 2</h1>
        <div class="columns">
            <div class="column"><div class="players-sent">No players selected</div><h1 class="title is-4">Roster</h1><div class="roster"></div></div>
            <div class="column"><div class="picks-sent">No picks selected</div><h1 class="title is-4">Picks</h1><div class="picks"></div></div>
        </div>
    </div>
</div>

<div class="hidden">
    {% regroup players by team__abbreviation as team_players %}
    {% for team in team_players %}
    <div id="roster-{{ team.grouper|lower }}">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                {% for player in team.list %}
                <tr class="player-row" data-player-slug="{{ player.position }} {{ player.first_name }} {{ player.last_name }}" data-player="player-{{ player.id }}">
                    <td class="name">{{ player.last_name }}, {{ player.first_name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.level }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    {% regroup picks by team__abbreviation as team_picks %}
    {% for team in team_picks %}
    <div id="picks-{{ team.grouper|lower }}">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Season</th>
                    <th>Pick</th>
                </tr>
            </thead>
            <tbody>
                {% for pick in team.list %}
                <tr class="pick-row" data-pick-slug="{{ pick.season }} {{ pick.slug }}" data-pick="pick-{{ pick.id }}">
                    <td class="name">{{ pick.season }}</td>
                    <td>{{ pick.slug }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
<form action="post">
    {% csrf_token %}
    <input type="hidden" name="team-1-players-sent" id="team-1-players-sent">
    <input type="hidden" name="team-1-picks-sent" id="team-1-picks-sent">
    <input type="hidden" name="team-2-players-sent" id="team-2-players-sent">
    <input type="hidden" name="team-2-picks-sent" id="team-2-picks-sent">
</form>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
    $(function(){
        var team_1_player_ids = []
        var team_1_player_slugs = []
        var team_1_pick_ids = []
        var team_1_pick_slugs = []

        var team_2_player_ids = []
        var team_2_player_slugs = []
        var team_2_pick_ids = []
        var team_2_pick_slugs = []

        var last_filled = 0

        var clear_team = function(team) {
            if (team) {
                $('a.team-' + team).removeAttr('disabled');
            }
        }

        var set_team_roster = function(el, team) {
            $el = $(el);
            $el.attr('data-team', team);
            $el.children('h1').text(team.toUpperCase());
            $el.removeClass('active');
            if (el == "#team-1") {
                $('#team-2').addClass('active');
                team_1_players = [];
                team_1_picks = [];
                $('#team-1 div.players-sent').text('No players selected')
                $('#team-1 div.picks-sent').text('No picks selected')
            } else {
                $('#team-1').addClass('active');
                team_2_players = [];
                team_2_picks = [];
                $('#team-2 div.players-sent').text('No players selected')
                $('#team-2 div.picks-sent').text('No picks selected')
            }
            var roster = $('#roster-' + team).clone();
            var picks = $('#picks-' + team).clone();
            $el.children('div.columns').children('div.column').children('div.roster').html(roster);
            $el.children('div.columns').children('div.column').children('div.picks').html(picks);
        }

        var team_select_handler = function(el) {
            el.preventDefault();
            $el = $(this);

            if (!$el.attr('disabled')) {
                var team = $el.attr('data-team');
                $el.attr('disabled', 'disabled');

                if (last_filled == 0) {
                    clear_team($('#team-1').attr('data-team'));
                    set_team_roster('#team-1', team);
                    last_filled = 1;
                } else {
                    clear_team($('#team-2').attr('data-team'));
                    set_team_roster('#team-2', team);
                    last_filled = 0;
                }
            }
        }

        var player_select_handler = function(el) {
            el.preventDefault();
            $el = $(this);
            var t = $el.parent().parent().parent().parent().parent().parent().parent().attr('id');
            if (t == 'team-1') {
                team_1_player_ids.push($el.attr('data-player'));
                team_1_player_slugs.push("<span class='remove-player' data-team='team-1' data-player-slug='" + $el.attr('data-player-slug') + "' data-player='" + $el.attr('data-player') + "'>" + $el.attr('data-player-slug') + " <a class='delete is-small'></a></span>");
                $('div#team-1 div.players-sent').html(Array.from(new Set(team_1_player_slugs)).join('<br/>'));
            } else {
                team_2_player_ids.push($el.attr('data-player'));
                team_2_player_slugs.push("<span class='remove-player' data-team='team-2' data-player-slug='" + $el.attr('data-player-slug') + "' data-player='" + $el.attr('data-player')+ "'>" + $el.attr('data-player-slug') + " <a class='delete is-small'></a></span>");
                $('div#team-2 div.players-sent').html(Array.from(new Set(team_2_player_slugs)).join('<br/>'));
            }
        }

        var pick_select_handler = function(el) {
            el.preventDefault();
            $el = $(this);
            var t = $el.parent().parent().parent().parent().parent().parent().parent().attr('id');
            if (t == 'team-1') {
                team_1_pick_ids.push($el.attr('data-pick'));
                team_1_pick_slugs.push("<span class='remove-pick' data-team='team-1' data-pick-slug='" + $el.attr('data-pick-slug') + "' data-pick='" + $el.attr('data-pick')+ "'>" + $el.attr('data-pick-slug') + " <a class='delete is-small'></a></span>");
                $('div#team-1 div.picks-sent').html(Array.from(new Set(team_1_pick_slugs)).join('<br/>'));
            } else {
                team_2_pick_ids.push($el.attr('data-pick'));
                team_2_pick_slugs.push("<span class='remove-pick' data-team='team-2' data-pick-slug='" + $el.attr('data-pick-slug') + "' data-pick='" + $el.attr('data-pick')+ "'>" + $el.attr('data-pick-slug') + " <a class='delete is-small'></a></span>");
                $('div#team-2 div.picks-sent').html(Array.from(new Set(team_2_pick_slugs)).join('<br/>'));
            }
        }

        var pick_remove_handler = function(el) {
            el.preventDefault();
            $el = $(this);
            var t = $el.attr('data-team')
            if (t == 'team-1') {
                var t1pdi = _.remove(team_1_pick_ids, function(n) {
                    return n == $el.attr('data-pick');
                });
                var t1pds = _.remove(team_1_pick_slugs, function(n) {
                    return n == "<span class='remove-pick' data-team='team-1' data-pick-slug='" + $el.attr('data-pick-slug') + "' data-pick='" + $el.attr('data-pick')+ "'>" + $el.attr('data-pick-slug') + " <a class='delete is-small'></a></span>";
                });
                $('div#team-1 div.picks-sent').html(Array.from(new Set(team_1_pick_slugs)).join('<br/>'));
            } else {
                var t2pdi = _.remove(team_2_pick_ids, function(n) {
                    return n == $el.attr('data-pick');
                });
                var t2pds = _.remove(team_2_pick_slugs, function(n) {
                    return n == "<span class='remove-pick' data-team='team-2' data-pick-slug='" + $el.attr('data-pick-slug') + "' data-pick='" + $el.attr('data-pick')+ "'>" + $el.attr('data-pick-slug') + " <a class='delete is-small'></a></span>";
                });
                $('div#team-2 div.picks-sent').html(Array.from(new Set(team_2_pick_slugs)).join('<br/>'));
            }
        }

        var player_remove_handler = function(el) {
            el.preventDefault();
            $el = $(this);
            var t = $el.attr('data-team')
            if (t == 'team-1') {
                var t1pdi = _.remove(team_1_player_ids, function(n) {
                    return n == $el.attr('data-player');
                });
                var t1pds = _.remove(team_1_player_slugs, function(n) {
                    return n == "<span class='remove-player' data-team='team-1' data-player-slug='" + $el.attr('data-player-slug') + "' data-player='" + $el.attr('data-player')+ "'>" + $el.attr('data-player-slug') + " <a class='delete is-small'></a></span>";
                });
                $('div#team-1 div.players-sent').html(Array.from(new Set(team_1_player_slugs)).join('<br/>'));
            } else {
                var t2pdi = _.remove(team_2_player_ids, function(n) {
                    return n == $el.attr('data-player');
                });
                var t2pds = _.remove(team_2_player_slugs, function(n) {
                    return n == "<span class='remove-player' data-team='team-2' data-player-slug='" + $el.attr('data-player-slug') + "' data-player='" + $el.attr('data-player')+ "'>" + $el.attr('data-player-slug') + " <a class='delete is-small'></a></span>";
                });
                $('div#team-2 div.players-sent').html(Array.from(new Set(team_2_player_slugs)).join('<br/>'));
            }
        }

        $('body').on('click', 'tr.player-row', player_select_handler);
        $('body').on('click', 'tr.pick-row', pick_select_handler);
        $('body').on('click', 'span.remove-player', player_remove_handler);
        $('body').on('click', 'span.remove-pick', pick_remove_handler);
        $('a.team-select').on('click', team_select_handler);
    });
    </script>
{% endblock %}