<th>MLB</th>
<th>Def</th>
<!-- <th data-sortable-type="alpha">Status</th> -->
{% if not compact_roster %}<th data-sortable-type="alpha">Role</th>
<th data-sortable-type="alpha">Level</th>
<th data-sortable-type="alpha">Stats</th>{% endif %}
<th data-sortable-type="numeric">PA</th>
<th data-sortable-type="numeric">AVG</th>
<th data-sortable-type="numeric">OBP</th>
<th data-sortable-type="numeric">SLG</th>
<th data-sortable-type="numeric">HR</th>
<th data-sortable-type="numeric">SB</th>
<th data-sortable-type="numeric">K%</th>
<th data-sortable-type="numeric">BB%</th>
<th data-sortable-type="numeric">wRC+</th>
<th data-sortable-type="numeric">xA</th>
<th data-sortable-type="numeric">xO</th>
<th data-sortable-type="numeric">xS</th>
