{% load ulmg_tags %}
<td data-value="{{ p.py_plate_appearances|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_plate_appearances|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.py_avg|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_avg|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.py_obp|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_obp|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.py_slg|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_slg|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.py_hr|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_hr|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<!-- <td data-value="{{ p.py_rbi|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_rbi|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td> -->
<td data-value="{{ p.py_sb|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_sb|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.py_k_pct|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_k_pct|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.py_bb_pct|default_if_none:"-999" }}" style="background-color: #eee;">
    {% if p.py_plate_appearances > 0 %}{{ p.py_bb_pct|default_if_none:"-" }}{% else %}-{% endif %}
</td>