<th data-sortable-type="numeric">PA</th>
<th data-sortable-type="numeric">WRC+</th>
<th data-sortable-type="numeric">OBP</th>
<th data-sortable-type="numeric">wOBA</th>
<th data-sortable-type="numeric">xwOBA</th>
<th data-sortable-type="numeric">AVG</th>
<th data-sortable-type="numeric">SLG</th>
<th data-sortable-type="numeric">xAVG</th>
<th data-sortable-type="numeric">xSLG</th>
<th data-sortable-type="numeric">BABIP</th>
<th data-sortable-type="numeric">ISO</th>
<th data-sortable-type="numeric">K%</th>
<th data-sortable-type="numeric">BB%</th>