{% load ulmg_tags %}
<td>{{ p.mlb_team_abbr|default_if_none:"-" }}</td>
<!-- <td>{% if p.is_injured %}🚫{% endif %}</td> -->
<!-- <td>
    {% if p.is_starter %}{{ p.role }}{% endif %}
    {% if not p.is_starter and p.is_bench %}Bench{% endif %}
    {% if p.is_player_pool %}Pool{% endif %}
</td> -->
<td style="max-width:100px;">{{ p.defense_display|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_ab|default_if_none:"-999" }}">{{ p.rt_ab|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_h|default_if_none:"-999" }}">{{ p.rt_h|default_if_none:"-" }}</td>
<!-- <td data-value="{{ p.rt_r|default_if_none:"-999" }}">{{ p.rt_r|default_if_none:"-" }}</td> -->
<td data-value="{{ p.rt_doubles|default_if_none:"-999" }}">{{ p.rt_doubles|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_triples|default_if_none:"-999" }}">{{ p.rt_triples|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_hr|default_if_none:"-999" }}">{{ p.rt_hr|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_rbi|default_if_none:"-999" }}">{{ p.rt_rbi|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_sb|default_if_none:"-999" }}">{{ p.rt_sb|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_bb|default_if_none:"-999" }}">{{ p.rt_bb|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_k|default_if_none:"-999" }}">{{ p.rt_k|default_if_none:"-" }}</td>