<th>DEF</th>
<th data-sortable-type="numeric">PA</th>
{% if advanced %}<th data-sortable-type="numeric">WRC+</th>
<th data-sortable-type="numeric">OBP</th>
<th data-sortable-type="numeric">wOBA</th>
<th data-sortable-type="numeric">xwOBA</th>{% endif %}
<th data-sortable-type="numeric">AVG</th>
{% if not advanced %}<th data-sortable-type="numeric">OBP</th>{% endif %}
<th data-sortable-type="numeric">SLG</th>
{% if not advanced %}<th data-sortable-type="numeric">HR</th>
<th data-sortable-type="numeric">R</th>
<th data-sortable-type="numeric">RBI</th>
<th data-sortable-type="numeric">SB</th>{% endif %}
{% if advanced %}<th data-sortable-type="numeric">xAVG</th>
<th data-sortable-type="numeric">xSLG</th>
<th data-sortable-type="numeric">BABIP</th>
<th data-sortable-type="numeric">ISO</th>{% endif %}
<th data-sortable-type="numeric">K%</th>
<th data-sortable-type="numeric">BB%</th>