{% load ulmg_tags %}
<td>{{ p.mlb_team_abbr|default_if_none:"-" }}</td>
<td>{% if p.is_injured %}🚫{% endif %}</td>
<td>{{ p.role|default_if_none:"" }}</td>

<td style="max-width:75px;">{% if p.defense_display %}{{ p.defense_display }}{% else %}{{ p.position }}{% endif %}</td>

<td data-value="{{ p.stats.2021_majors.plate_appearances|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.plate_appearances|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.avg|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.avg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.obp|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.obp|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.slg|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.slg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.hr|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.hr|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<!-- <td data-value="{{ p.stats.2021_majors.runs|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.runs|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.rbi|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.rbi|default_if_none:"-" }}{% else %}-{% endif %}
</td> -->
<td data-value="{{ p.stats.2021_majors.sb|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.sb|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.k_pct|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.k_pct|floatformat:1|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.bb_pct|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.bb_pct|floatformat:1|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.wrc_plus|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 %}{{ p.stats.2021_majors.wrc_plus|default_if_none:"-" }}{% else %}-{% endif %}
</td>

<td data-value="{{ p.stats.2021_majors.xavg|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 and p.stats.2021_majors.xavg %}{{ p.stats.2021_majors.xavg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.xwoba|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 and p.stats.2021_majors.xwoba %}{{ p.stats.2021_majors.xwoba|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>
<td data-value="{{ p.stats.2021_majors.xslg|default_if_none:"-999" }}">
    {% if p.stats.2021_majors.plate_appearances > 0 and p.stats.2021_majors.xslg %}{{ p.stats.2021_majors.xslg|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
</td>