<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
            The ULMG
        </a>
        <a class="navbar-item" href="https://gist.github.com/jeremyjbowers/20706acd49d0ceb678fdfd855e554dd0" target="_blank">Constitution</a>
        <a class="navbar-item" href="/calendar/" target="_blank">Events</a>
        <a class="navbar-item" href="/players/trade-block/" target="_blank">Trade Block</a>
        <a class="navbar-item" href="/trades/">Trades</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Drafts</a>
                <div class="navbar-dropdown">
                    {% for draft in draftnav %}
                    <a class="navbar-item" href="{{ draft.url }}">{{ draft.title }}</a>
                    {% endfor %}
                    <a class="navbar-item" href="https://ulmg.wordpress.com/category/draft/" target="_blank">Archived drafts</a>
                </div>
            </div>
        </div>
        <!-- <a class="navbar-item" href="/venues/">Parks</a> -->
        <!-- <a class="navbar-item" href="/prospect-rankings/2022/">Prospects</a> -->
        <a class="navbar-item" href="/{% if value %}?value=true{% endif %}">Search</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-weight-bold">Teams</a>
                <div class="navbar-dropdown">
                    {% for team in teamnav %}
                    <a class="navbar-item" href="/teams/{{ team.abbreviation|lower }}/{% if value %}?value=true{% endif %}">{{ team.abbreviation }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
            {% if user.is_authenticated %}
                <div class="buttons">
                    {% if user.is_staff %}
                    <a class="button is-info is-small" href="/admin/">Admin</a>
                    {% endif %}
                    <a class="button is-success is-small" href="/my/team/">My Team</a>
                    <a class="button is-danger is-small" href="/accounts/logout/">X</a>
                </div>
            {% else %}
                <div class="buttons"><a class="button is-info is-small" href="/accounts/login/">Log in</a></div>
            {% endif %}
            </div>
        </div>

    </div>
</nav>