<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
            The ULMG
        </a>
        <a class="navbar-item" href="https://ulmg.wordpress.com/constitution/" target="_blank">Constitution</a>
        <a class="navbar-item" href="/trades/" target="_blank">Trades</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Drafts</a>
                <div class="navbar-dropdown">
                    {% for draft in draftnav %}
                    <a class="navbar-item" href="{{ draft.url }}">{{ draft.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="navbar-item" href="https://ulmg.wordpress.com/category/draft/" target="_blank">Archived drafts</a>
        <a class="navbar-item" href="/{% if value %}?value=true{% endif %}">Search</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Teams</a>
                <div class="navbar-dropdown">
                    {% for team in teamnav %}
                    <a class="navbar-item" href="/teams/{{ team.abbreviation|lower }}/{% if value %}?value=true{% endif %}">{{ team.abbreviation }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>