<div id="modal-notes" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="title is-4" id="modal-title"></h2>
            <div class="control">
                <textarea id="note-textarea" class="textarea" placeholder="Type a note about this player." rows="10"></textarea>
            </div>
            <div class="control" style="margin-top:10px;">
                <button data-playerid="" id="persist-note" class="button is-success">Save</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>