<th>Team</th>
<!-- <th>IL</th>
<th>Role</th> -->
<th data-sortable-type="alpha">LEV</th>
<th data-sortable-type="numeric">G</th>
<th data-sortable-type="numeric">GS</th>
<th data-sortable-type="numeric">IP</th>
<th data-sortable-type="numeric">ERA</th>
<th data-sortable-type="numeric">K/9</th>
<th data-sortable-type="numeric">BB/9</th>
<th data-sortable-type="numeric">HR/9</th>
<!-- <th data-sortable-type="numeric">vL</th>
<th data-sortable-type="numeric">vR</th>
<th data-sortable-type="numeric">TOT</th> -->
<th data-sortable-type="numeric">FIP</th>
<th data-sortable-type="numeric">xFIP</th>
<th data-sortable-type="numeric">SIERA</th>
<th></th>
<th>GS</th>
<th>IP</th>
<th>ERA</th>
<th>K/9</th>
<th>BB/9</th>