<td>{{ p.mlb_org|default_if_none:"-" }}</td>
<td>{% if p.is_injured %}🚫{% endif %}</td>
<td>
    {{ p.role }}
</td>
<td data-value="{{ p.rt_ip|default_if_none:"-999" }}">{{ p.rt_ip|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_ph|default_if_none:"-999" }}">{{ p.rt_ph|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_pr|default_if_none:"-999" }}">{{ p.rt_pr|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_er|default_if_none:"-999" }}">{{ p.rt_er|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_pbb|default_if_none:"-999" }}">{{ p.rt_pbb|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_pk|default_if_none:"-999" }}">{{ p.rt_pk|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_phr|default_if_none:"-999" }}">{{ p.rt_phr|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_p|default_if_none:"-999" }}">{{ p.rt_p|default_if_none:"-" }}</td>
<td data-value="{{ p.rt_s|default_if_none:"-999" }}">{{ p.rt_s|default_if_none:"-" }}</td>