<th>Team</th>
<th data-sortable-type="alpha">Status</th>
<th data-sortable-type="alpha">Pos</th>
<th data-sortable-type="alpha">Level</th>
<th data-sortable-type="numeric">G</th>
<th data-sortable-type="numeric">GS</th>
<th data-sortable-type="numeric">IP</th>
<th data-sortable-type="numeric">ERA</th>
<th data-sortable-type="numeric">K/9</th>
<th data-sortable-type="numeric">BB/9</th>
<th data-sortable-type="numeric">HR/9</th>
<th data-sortable-type="numeric">FIP</th>
<th data-sortable-type="numeric">xFIP</th>
<th data-sortable-type="numeric">SIERA</th>