{% load ulmg_tags %}
<td>{% if p.mlb_org %}{{ p.mlb_org|default_if_none:"-" }}{% else %}-{% endif %}</td>
<!-- 
<td data-value="{% if p.roster_status %}{{ p.roster_status|default_if_none:"-" }}{% else %}-{% endif %}">
    {% if p.roster_status %}{{ p.roster_status|default_if_none:"-" }}{% else %}-{% endif %}
</td>

<td data-value="{% if p.role_type %}{{ p.role_type|default_if_none:"-" }}{% else %}-{% endif %}">
    {% if p.role_type %}{{ p.role_type|default_if_none:"-" }}{% else %}-{% endif %}
</td> -->

<td data-value="{% if p.pit_stats.level != "" %}{{ p.pit_stats.level|default_if_none:"-" }}{% else %}-{% endif %}">
    {% if p.pit_stats %}{% if p.pit_stats.level != "" %}{{ p.pit_stats.level|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}
</td>

<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.g|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.g|default_if_none:"-" }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.gs|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.gs|default_if_none:"-" }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.ip|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.ip|default_if_none:"-" }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.era|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.era|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.k_9|default_if_none:"-999" }}{% else %}-999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.k_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.bb_9|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.bb_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.hr_9|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.hr_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}</td>

<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.fip|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.fip|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.xfip|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.xfip|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>
<td data-value="{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 %}{{ p.pit_stats.siera|default_if_none:"999" }}{% else %}999{% endif %}">{% if p.pit_stats.ip > 0 and p.pit_stats.year == 2023 and p.pit_stats.siera %}{{ p.pit_stats.siera|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}</td>