<th data-sortable-type="numeric">G</th>
<th data-sortable-type="numeric">GS</th>
<th data-sortable-type="numeric">IP</th>
{% if not advanced %}<th data-sortable-type="numeric">ERA</th>{% endif %}
<th data-sortable-type="numeric">K/9</th>
<th data-sortable-type="numeric">BB/9</th>
<th data-sortable-type="numeric">HR/9</th>
{% if advanced %}<th data-sortable-type="numeric">LOB%</th>
<th data-sortable-type="numeric">GB%</th>
<th data-sortable-type="numeric">HR/FB</th>{% endif %}
{% if advanced %}<th data-sortable-type="numeric">ERA</th>
<th data-sortable-type="numeric">FIP</th>
<th data-sortable-type="numeric">xFIP</th>
<th data-sortable-type="numeric">SIERA</th>{% endif %}