{% load ulmg_tags %}
<td>{% if p.current_mlb_org %}{{ p.current_mlb_org }}{% elif p.get_best_stat_season and p.get_best_stat_season.mlb_org %}{{ p.get_best_stat_season.mlb_org }}{% else %}-{% endif %}</td>

<!-- <td data-value="{% if p.roster_status %}{{ p.roster_status|default_if_none:"-" }}{% else %}-{% endif %}">
    {% if p.roster_status %}{{ p.roster_status|default_if_none:"-" }}{% else %}-{% endif %}
</td> -->

<td data-value="{% with best_stats=p.get_best_stat_season %}{% if best_stats and best_stats.roster_status and 'IL' in best_stats.roster_status %}{{ best_stats.roster_status }}{% elif best_stats and best_stats.role_type %}{{ best_stats.role_type }}{% elif best_stats and best_stats.role %}{{ best_stats.role }}{% else %}-{% endif %}{% endwith %}">
    {% with best_stats=p.get_best_stat_season %}
        {% if best_stats and best_stats.roster_status and 'IL' in best_stats.roster_status %}
            {{ best_stats.roster_status }}
        {% elif best_stats and best_stats.role_type %}
            {{ best_stats.role_type }}
        {% elif best_stats and best_stats.role %}
            {{ best_stats.role }}
        {% else %}-{% endif %}
    {% endwith %}
</td>

{% with best_stats=p.get_best_stat_season %}
<td data-value="{% if best_stats and best_stats.pitch_stats.level %}2{% else %}{% if best_stats and best_stats.clean_classification == "mlb" %}1{% elif best_stats and best_stats.clean_classification == "npb" %}3{% elif best_stats and best_stats.clean_classification == "kbo" %}4{% elif best_stats and best_stats.clean_classification == "college" %}5{% else %}6{% endif %}{% endif %}">
    {% if best_stats %}
        {% if best_stats.pitch_stats.level %}
            {{ best_stats.pitch_stats.level }}
        {% else %}
            {% if best_stats.clean_classification == "mlb" %}
                MLB
            {% elif best_stats.clean_classification == "npb" %}
                NPB
            {% elif best_stats.clean_classification == "kbo" %}
                KBO
            {% elif best_stats.clean_classification == "college" %}
                NCAA
            {% else %}
                -
            {% endif %}
        {% endif %}
    {% else %}
        -
    {% endif %}
</td>

<td data-value="{% if best_stats %}{% if best_stats.clean_classification %}{{ best_stats.season }} {{ best_stats.clean_classification|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}">
    {% if best_stats %}{% if best_stats.clean_classification %}{{ best_stats.season }} {{ best_stats.clean_classification|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}
</td>

<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.g|default_if_none:"-999" }}{% else %}-999{% endif %}{% else %}-999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.g|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.gs|default_if_none:"-999" }}{% else %}-999{% endif %}{% else %}-999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.gs|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.ip|default_if_none:"-999" }}{% else %}-999{% endif %}{% else %}-999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.ip|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.era|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.era|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.whip|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.whip|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.k_9|default_if_none:"-999" }}{% else %}-999{% endif %}{% else %}-999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.k_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.bb_9|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.bb_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.hr_9|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.hr_9|floatformat:1|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>

<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.fip|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.fip|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.xfip|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.xfip|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
<td data-value="{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 %}{{ best_stats.pitch_stats.siera|default_if_none:"999" }}{% else %}999{% endif %}{% else %}999{% endif %}">{% if best_stats and best_stats.pitch_stats %}{% if best_stats.pitch_stats.ip > 0 and best_stats.pitch_stats.siera %}{{ best_stats.pitch_stats.siera|floatformat:2|default_if_none:"-"  }}{% else %}-{% endif %}{% else %}-{% endif %}</td>
{% endwith %} 