<td data-value="{{ p.name }}" style="text-align: left!important;">
    {% if user.is_authenticated %}{% if p.team.owner_obj.user != user %}
        {% if p.id in wishlist_players %}
        <span class="icon eye action-remove-wishlist has-text-success" data-playerid="{{ p.id }}"><i class="fas fa-eye"></i></span>
        {% else %}
        <span class="icon eye action-add-wishlist" data-playerid="{{ p.id }}"><i class="fas fa-eye"></i></span>
        {% endif %}

    {% endif %}{% endif %}
    <a class="has-text-weight-semibold" href="/players/{{ p.id }}/" target="_blank">{{ p.name }}</a>
    {% if p.covid_protected %} &copy;{% endif %}
    {% if p.is_prospect %}<span class="icon-text"><span class="icon has-text-danger"><i class="fab fa-product-hunt"></i></span><span>{{ p.prospect_rating_avg }}</span></span>{% endif %}
</td>