<td data-value="{{ p.name }}" style="text-align: left!important;">
    {% if user.is_authenticated %}{% if p.team.owner_obj.user != user %}

        {% if p.id in wishlist_players %}
        <span class="icon eye action-remove-wishlist has-text-success" data-playerid="{{ p.id }}"><i class="fas fa-eye"></i></span>
        {% else %}
        <span class="icon eye action-add-wishlist" data-playerid="{{ p.id }}"><i class="fas fa-eye"></i></span>
        {% endif %}

    {% endif %}{% endif %}

    <a class="has-text-weight-semibold" href="/players/{{ p.id }}/" target="_blank">{{ p.name }}</a></span>
    {% if p.is_prospect %}
    <span class="icon-text">

        <span class="icon has-text-danger"><i class="fab fa-product-hunt"></i></span>
        
        {% if p.prospect_rating_avg %}
            <span class="tag is-danger is-light">{{ p.prospect_rating_avg|floatformat:"0" }}</span>
        {% endif %}

        {% if p.notes %}
            <a class="report-toggle" data-playerid="{{ p.id }}" href="#">
                <span class="icon has-text-black"><i class="far fa-file-alt"></i></span>
            </a>
        {% endif %}

    </span>
    {% endif %}
</td>