<div class="section">
    <form action="/players/search/">
        <div class="field">
            <div class="control">
                <input style="width: 60%;" name="name" class="input is-large" type="text" placeholder="Search by name; blank returns all players" {% if name %}value="{{ name }}"{% endif %}>
                <input type="submit" class="button is-large is-dark"></button>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <div style=""class="columns">
                    <div class="column">
                        <p class="has-text-weight-bold">Owned</p>
                        <div class="select">
                            <select name="owned">
                                <option></option>
                                <option value="yes"{% if owned == "yes" %} selected{% endif %}>yes</option>
                                <option value="no"{% if owned == "no" %} selected{% endif %}>no</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">Carded</p>
                        <div class="select">
                            <select name="carded">
                                <option></option>
                                <option value="yes"{% if carded == "yes" %} selected{% endif %}>yes</option>
                                <option value="no"{% if carded == "no" %} selected{% endif %}>no</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">PA Cutoff</p>
                        <div class="select">
                            <select name="pa_cutoff">
                                <option></option>
                                <option value="550"{% if pa_cutoff == "550" %} selected{% endif %}>550</option>
                                <option value="500"{% if pa_cutoff == "500" %} selected{% endif %}>500</option>
                                <option value="450"{% if pa_cutoff == "450" %} selected{% endif %}>450</option>
                                <option value="400"{% if pa_cutoff == "400" %} selected{% endif %}>400</option>
                                <option value="350"{% if pa_cutoff == "350" %} selected{% endif %}>350</option>
                                <option value="300"{% if pa_cutoff == "300" %} selected{% endif %}>300</option>
                                <option value="250"{% if pa_cutoff == "250" %} selected{% endif %}>250</option>
                                <option value="200"{% if pa_cutoff == "200" %} selected{% endif %}>200</option>
                                <option value="150"{% if pa_cutoff == "150" %} selected{% endif %}>150</option>
                                <option value="100"{% if pa_cutoff == "100" %} selected{% endif %}>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">IP Cutoff</p>
                        <div class="select">
                            <select name="ip_cutoff">
                                <option></option>
                                <option value="200"{% if ip_cutoff == "200" %} selected{% endif %}>200</option>
                                <option value="175"{% if ip_cutoff == "175" %} selected{% endif %}>175</option>
                                <option value="150"{% if ip_cutoff == "150" %} selected{% endif %}>150</option>
                                <option value="100"{% if ip_cutoff == "100" %} selected{% endif %}>100</option>
                                <option value="75"{% if ip_cutoff == "75" %} selected{% endif %}>75</option>
                                <option value="50"{% if ip_cutoff == "50" %} selected{% endif %}>50</option>
                                <option value="25"{% if ip_cutoff == "25" %} selected{% endif %}>25</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">GS Cutoff</p>
                        <div class="select">
                            <select name="gs_cutoff">
                                <option></option>

                                <option value="30"{% if gs_cutoff == "30" %} selected{% endif %}>30</option>
                                <option value="25"{% if gs_cutoff == "25" %} selected{% endif %}>25</option>
                                <option value="20"{% if gs_cutoff == "20" %} selected{% endif %}>20</option>
                                <option value="15"{% if gs_cutoff == "15" %} selected{% endif %}>15</option>
                                <option value="10"{% if gs_cutoff == "10" %} selected{% endif %}>10</option>
                                <option value="5"{% if gs_cutoff == "5" %} selected{% endif %}>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">Midseason</p>
                        <div class="select">
                            <select name="midseason">
                                <option></option>
                                <option value="yes"{% if midseason == "yes" %} selected{% endif %}>yes</option>
                                <option value="no"{% if midseason == "no" %} selected{% endif %}>no</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="column">
                        <p class="has-text-weight-bold">Prospect</p>
                        <div class="select">
                            <select name="prospect">
                                <option></option>
                                <option value="yes"{% if prospect == "yes" %} selected{% endif %}>yes</option>
                                <option value="no"{% if prospect == "no" %} selected{% endif %}>no</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="column">
                        <p class="has-text-weight-bold">Position</p>
                        <div class="select">
                            <select name="position">
                                <option></option>
                                <option value="P"{% if position == "P" %} selected{% endif %}>P</option>
                                <option value="H"{% if position == "H" %} selected{% endif %}>HITTERS</option>
                                <option value="C"{% if position == "C" %} selected{% endif %}>C</option>
                                <option value="IF"{% if position == "IF" %} selected{% endif %}>IF</option>
                                <option value="IF-OF"{% if position == "IF-OF" %} selected{% endif %}>IF-OF</option>
                                <option value="OF"{% if position == "OF" %} selected{% endif %}>OF</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <p class="has-text-weight-bold">Level</p>
                        <div class="select">
                            <select name="level">
                                <option></option>
                                <option value="V"{% if level == "V" %} selected{% endif %}>V</option>
                                <option value="A"{% if level == "A" %} selected{% endif %}>A</option>
                                <option value="B"{% if level == "B" %} selected{% endif %}>B</option>
                            </select>
                        </div>
                    </div>
                    <div class="column"></div>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
        {% if value %}<input name="value" type="text" value="true" hidden="true">{% endif %}
    </form>
</div>