<h1 class="title is-1 has-text-weight-bold">
    {{ team.city }} "{{ team.nickname }}", {{ team.division }} division<br/>
    <span class="title is-2 has-text-weight-regular has-text-grey">
        Owner:
        {% if team.owner %}
            {{ team.owner }}<br><a href="mailto:{{ team.owner_email }}" >Send owner email &#x2709;</a>
        {% else %}
            &mdash;
        {% endif %}
        <br/><a href="/teams/{{ team.abbreviation }}/csv/">Download team roster &dtrif;</a>
    </span>
</h1>