{% load ulmg_tags %}
<tr class="
{% if not p.player.hit_stats.level == "mlb" %}minors {% endif %}
list-group-item
" data-playerid="{{ p.player.pk }}" data-playername="{{ p.player.name }}">
    <!-- <td id="rank-{{ p.pk }}">{% if p.rank == 0 %}-{% else %}{{ p.rank }}{% endif %}</td> -->
    {% include "includes/my/player_name.html" %}
    <td>{{ p.player.position|default_if_none:"-" }}</td>
    <td>{{ p.player.age|default_if_none:"-" }}</td>
    <td>{% if p.player.mlb_org %}{{ p.player.mlb_org|default_if_none:"-" }}{% else %}-{% endif %}</td>
    <td>
        {% if p.player.hit_stats %}{% if p.player.hit_stats.level != "" %}{{ p.player.hit_stats.level|default_if_none:"-" }}{% else %}-{% endif %}{% else %}-{% endif %}
    </td>
    <td>
        {% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.PA|default_if_none:"-" }}{% else %}-{% endif %}
    </td>
    <td>
        {% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.AVG|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}/{% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.OBP|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}/{% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.SLG|floatformat:3|kill_leading_zero|default_if_none:"-" }}{% else %}-{% endif %}
    </td>
    <td>
        {% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.SO|default_if_none:"-" }}{% else %}-{% endif %}
    </td><td>
        {% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.BB|default_if_none:"-" }}{% else %}-{% endif %}
    </td>
    <td>
        {% if p.player.hit_stats.PA > 0 %}{{ p.player.hit_stats.wRC+|default_if_none:"-" }}{% else %}-{% endif %}
    </td>

    <td>{% include "includes/my/tierpicker.html" %}</td>
</tr>