<thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Pos</th>
        <th>Age</th>
        <th>Org</th>
        <!-- <th>FV</th>
        <th>Org Rk</th>
        <th>ESPN</th>
        <th>FG</th>
        <th>PL</th>
        <th>KL</th>
        <th>P365</th> -->
        <th>PA</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>SLG</th>
        <!-- <th>Tier</th> -->
        <th>SB</th>
        <th>K%</th>
        <th>BB%</th>
        <th>xA</th>
        <th>xO</th>
        <th>xS</th>
    </tr>
</thead>