<td data-value="{{ p.player.name }}" style="text-align: left!important;">
    {% if user.is_authenticated %}{% if p.player.team.owner_obj.user != user %}
        {% if p.player %}
            {% if p.player.id in wishlist_players %}
            <span class="icon eye action-remove-wishlist has-text-success" data-playerid="{{ p.player.id }}"><i class="fas fa-eye"></i></span>
            {% else %}
            <span class="icon eye action-add-wishlist" data-playerid="{{ p.player.id }}"><i class="fas fa-eye"></i></span>
            {% endif %}
        {% endif %}

    {% endif %}{% endif %}

    {% if p.player %}
    <a class="has-text-weight-semibold" href="/players/{{ p.player.id }}/" target="_blank">{{ p.player.name }}</a></span>
    {% else %}
        {{ p.player_name }}
    {% endif %}

    {% if p.player.is_prospect %}
    <span class="icon-text">
        <span class="icon has-text-danger"><i class="fab fa-product-hunt"></i></span>{% if p.player.notes %}<a class="report-toggle" data-playerid="{{ p.player.id }}" href="#"><span class="icon has-text-black"><i class="far fa-file-alt"></i></span></a>{% endif %}
    </span>
    {% endif %}
</td>