<script type="text/javascript">
    $(function(){
    
        var close_modal_handler = function(el) {
            el.preventDefault();
            $el = $(this);
    
            var modalid = $el.parent('div').toggleClass('is-active');        
        }
    
        var report_modal_handler = function(el) {
            el.preventDefault();
            $el = $(this);
    
            var playerid = $el.attr('data-playerid');
            var url_base = '/api/v1/player/scouting-report/';

            $.ajax({
                type: "GET",
                url: url_base + playerid + '/',
                success: function(response){
                    var title = response.position + ' ' + response.name;
                    var notes = '<strong>' + response.mlb_team + '</strong>: ' + response.notes;
                    $('#modal-title').html(title);
                    $('#modal-notes').html(notes)
                    $('#modal-report').toggleClass('is-active');
                }
            });
            
            
        }
    
        var tier_select_handler = function(el) {
    
            el.preventDefault();
            $el = $(this);
    
            var playerid = $el.parent('div').attr('data-playerid');
            var tier = $el.text();
    
            $el.parent('div').children('a.tier-selection').removeClass('is-primary').removeClass('is-info').removeClass('is-success').removeClass('is-warning').removeClass('is-danger').removeClass('is-link')
    
            var tier_map = {
                "1": "is-link",
                "2": "is-primary",
                "3": "is-warning",
                "4": "is-info",
                "5": "is-success",
                "6": "is-danger"            
            }
    
            $el.addClass(tier_map[tier]);
    
            $.ajax({
                type: "GET",
                url: '/api/v1/wishlist/' + playerid + '/?tier=' + tier,
                success: function(response){
                    console.log(tier);
                }
            });
        }
    
        $('body').on('click', 'div.tier-selector a.tier-selection', tier_select_handler);
        $('body').on('click', 'a.report-toggle', report_modal_handler);
        $('body').on('click', 'button.modal-close', close_modal_handler);
        $('body').on('click', 'div.modal-background', close_modal_handler);
    });
    </script>