<div class="flex items-center gap-2">
    <span class="cursor-pointer font-bold text-xs underline action-add-tag">+tag</span>
    <input class="hidden border border-gray-300 px-1 py-0 text-xs tag-input" data-playerid="{{ p.player.id }}" type="text" placeholder="Tag name">
    <div class="text-xs">
        {% if p.tags %}
            {% for tag in p.tags|dictsort:0 %}
                <span class="user-tag">{{ tag }} <button data-tagname="{{ tag }}" data-playerid="{{ p.player.id }}" class="text-red-600 hover:text-red-800 cursor-pointer">×</button></span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div> 