<div class="section is-desktop">
    {% if team.championships %}<p class="title is-6 has-text-weight-light champs">{% for c in team.championships %}🏆 {{ c }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>{% else %}<br/>{% endif %}
    <p class="title is-1">
        <span class="icon-text">
            <span class="icon has-text-success">&nbsp;<i class="fas fa-user-circle"></i></span>
            <span>&nbsp;{{ team.city }} {{ team.nickname }}</span>
        </span>
    </p>
    <p class="subtitle is-4"><span>{{ team.division }} division</span></p>
    <p class="subtitle is-5 has-text-weight-regular has-text-grey">
        Owner:
        {% if team.owner_obj %}
            {{ team.owner_obj.name }}<br><a href="mailto:{{ team.owner_obj.email }}">Send owner email &#x2709;</a>
        {% else %}
            &mdash;
        {% endif %}
        <br/><a href="/teams/{{ team.abbreviation }}/csv/{% if value %}?value=true{% endif %}">Download team roster &dtrif;</a>
    </p>
</div>