<div id="tier-{{ p.player.pk }}" data-playerid="{{ p.player.pk }}" class="tier-selector">
  <a class="tier-selection button is-small{% if p.tier == 1 %} is-link{% endif %}">1</a>
  <a class="tier-selection button is-small{% if p.tier == 2 %} is-primary{% endif %}">2</a>
  <a class="tier-selection button is-small{% if p.tier == 3 %} is-warning{% endif %}">3</a>
  <a class="tier-selection button is-small{% if p.tier == 4 %} is-info{% endif %}">4</a>
  <a class="tier-selection button is-small{% if p.tier == 5 %} is-success{% endif %}">5</a>
  <a class="tier-selection button is-small{% if p.tier == 6 %} is-danger{% endif %}">6</a>
</div>
