{% if user.is_authenticated %}
<script type="text/javascript">
$(function(){

    var toggle_classes = function($el) {
        $el.toggleClass('action-remove-wishlist')
        $el.toggleClass('text-yellow-600')
        $el.toggleClass('action-add-wishlist')
        $el.toggleClass('text-gray-400')
    }

    var toggle_symbol = function($el) {
        var currentText = $el.text();
        if (currentText === '☆') {
            $el.text('★');
        } else {
            $el.text('☆');
        }
    }

    var load_wishlist = function() {
        $.ajax({
            type: "GET",
            url: '/api/v1/wishlist/players/',
            success: function(response){
                $.each(response.players, function(idx, player){
                    var el = $('#player-' + player.id);
                    toggle_classes(el);
                    toggle_symbol(el);
                });
            }
        });
    }

    var add_wishlist_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')

        $.ajax({
            type: "GET",
            url: '/api/v1/wishlist/' + playerid + '/?rank=999&tier=6',
            success: function(response){
                toggle_classes($el)
                toggle_symbol($el)
            }
        });
    }

    var remove_wishlist_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var playerid = $el.attr('data-playerid')

        $.ajax({
            type: "GET",
            url: '/api/v1/wishlist/' + playerid + '/?remove=true',
            success: function(response){
                toggle_classes($el)
                toggle_symbol($el)
            }
        });
    }

    $('body').on('click', 'span.action-remove-wishlist', remove_wishlist_handler);
    $('body').on('click', 'span.action-add-wishlist', add_wishlist_handler);
    load_wishlist();
});
</script>
{% endif %}