{% extends "base.html" %}
{% load ulmg_tags %}

{% block content %}
<style type="text/css" media="screen">
    ul.charts {
      margin: 0;
      padding: 0;
    }
    ul.charts li {
      font-size: 18px;
      line-height: 28px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid #fff;
    }
   ul.charts li span {
      background-color: #a9d2f2;
      display: block;
      color: #125a95;
      font-weight: bold;
      padding: 0 0 0 5px;
      white-space: nowrap;
    }
    ul.charts li span:hover {
      background-color: #ccc;
      display: block;
      color: #333;
      font-weight: bold;
      padding: 0 0 0 5px;
      white-space: nowrap;
    }
    table td, table a, table th {
        font-size: 13px;
    }
    table[data-sortable] th, table[data-sortable] td {
        padding: 5px;
    }
    table tbody tr.minors td {
        background-color: #f2f8eb;
    }
    .is-1 small {
        color: #777;
        font-weight: normal;
        font-size: 30px;
    }
</style>

<div class="columns">
    <div class="column">
        <p class="title">Search</p>
        <p class="subtitle">All players</p>
        {% include "includes/proj_search_bar.html" %}
    </div>
</div>

<h1 id="players-unowned" class="title is-1">Unowned Players <small>with live 2019 stats</small></h1>

<div class="columns">
    <div class="column">
        {% regroup hitters by position as position_players %}
        {% for position in position_players %}
        <h1 class="title is-3">{{ position.grouper }} ({{ position.list|length }})</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th></th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="alpha">Lvl</th>
                    <th data-sortable-type="numeric">MLB?</th>
                    <th data-sortable-type="numeric">Card?</th>
                    {% include "includes/hitter_proj_stat_headers.html" %}
                </tr>
            </thead>
            <tbody>
            {% for p in position.list %}
            <tr class="
            {% if p.ls_is_mlb == False and p.ls_plate_appearances > 0 %} minors{% endif %}
            {% if p.ls_is_mlb == False and p.is_amateur == True %} amateur{% endif %}
            ">
                <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.name }}">
                        <a href="/players/{{ p.id }}/" target="_blank">{{ p.name }}</a></span>
                    </td>
                    <td class="left">
                        <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E; &Gt;</a>
                        {% if p.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.mlbam_id }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.age|default_if_none:"-999" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.level|default_if_none:"Z" }}<">{{ p.level|default_if_none:"" }}</td>
                    <td data-value="{% if p.ls_is_mlb %}1{% else %}0{% endif %}">{% if p.ls_is_mlb %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{% if p.is_carded %}1{% else %}0{% endif %}">{% if p.is_carded %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    {% include "includes/hitter_proj_stat_cells.html" %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>

<div class="columns">
    <div class="column">
        <h1 class="title is-3">P ({{ pitchers|length }})</h1>
        <table class="table is-fullwidth" data-sortable>
            <thead>
                <tr>
                    <th data-sortable-type="alpha">Name</th>
                    <th></th>
                    <th data-sortable-type="numeric">Age</th>
                    <th data-sortable-type="alpha">Lvl</th>
                    <th data-sortable-type="numeric">MLB?</th>
                    <th data-sortable-type="numeric">Card?</th>
                    {% include "includes/pitcher_proj_stat_headers.html" %}
                </tr>
            </thead>
            <tbody>
            {% for p in pitchers %}
                <tr class="
                {% if p.ls_is_mlb == False and p.ls_ip > 0 %} minors{% endif %}
                {% if p.ls_is_mlb == False and p.is_amateur == True %} amateur{% endif %}
                ">
                    <td data-value="{{ p.name }}" style="text-align: left!important;"><span class="has-text-weight-semibold" data-value="{{ p.name }}">
                        <a href="/players/{{ p.id }}/" target="_blank">{{ p.name }}</a></span>
                    </td>
                    <td class="left">
                        <a href="/admin/ulmg/player/{{ p.id }}/change/">&#x270E; &Gt;</a>
                        {% if p.bref_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.bref_url }}">BBR &Gt;</a>{% endif %}
                        {% if p.fg_url %}<a class="has-text-weight-light" target="_blank" href="{{ p.fg_url }}">FG &Gt;</a>{% endif %}
                        {% if p.mlbam_id %}<a class="has-text-weight-light" target="_blank" href="https://baseballsavant.mlb.com/savant-player/{{ p.mlbam_id }}">MLB &Gt;</a>{% endif %}
                    </td>
                    <td data-value="{{ p.age|default_if_none:"-999" }}">{{ p.age|default_if_none:"-" }}</td>
                    <td data-value="{{ p.level|default_if_none:"Z" }}<">{{ p.level|default_if_none:"" }}</td>
                    <td data-value="{% if p.ls_is_mlb %}1{% else %}0{% endif %}">{% if p.ls_is_mlb %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    <td data-value="{% if p.is_carded %}1{% else %}0{% endif %}">{% if p.is_carded %}<span class="green">&checkmark;</span>{% else %}<span class="red">&cross;</span>{% endif %}</td>
                    {% include "includes/pitcher_proj_stat_cells.html" %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
